<table>
	<tr>
		<td>产品</td>
		<td>单价</td>
		<td>数量</td>
		<td>小计</td>
	</tr>
	<% cart = find_cart %>
	<% cart.items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
		<td><%= format ("%.2f",item.product.price == nil ? 0 : item.product.price) %></td>
		<td><%= item.quantity %></td>
		<td><%= format ("%.2f",item.subtotal == nil ? 0 : item.subtotal) %></td>
	</tr>
	<% end %>
</table>

合计:<%= format ("%.2f",cart.total == nil ? 0 : cart.total) %>

<button onclick="document.location.reload()">继续购物</button>
<button onclick="document.location.href='/orders/new'">结账</button>
