<h2>Your Pragmatic Cart</h2>


<li class="item_list_title">
  <span class="item_name">Name</span>
  <span class="item_price">Price</span>
  <span class="item_quantity">Quantity</span>
  <span class="item_subtotal">SubTotal</span>
</li>


	<%= render(:partial => "cart_item", :collection => @cart.items) %>


Total:<%= @cart.total.to_f %><%= button_to "clear cart", :action=>'clear', :controller=>'cart' %><%= link_to "back", :action=>'index', :controller=>'products' %><%= button_to "order", :action=>'new', :controller=>'orders' %>