<!-- <div class="clearit bj-sp10"></div>
<ul id="pd_infomenu">
	<li class="on">我的购物车</li>
	
	<li>我的收藏夹</li>
	
	<li>我的预约商品</li>
	
	<li>我浏览的商品</li> 
	
</ul> -->
<div class="clearit bj-sp10"></div>
<div id="mlist_step">
	<img src="/images/mlist_stepFst.gif" />
</div>
<div id="cart">
	<% cart = find_cart %>
	<% if cart.quantity > 0 %>
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
    	<tbody>
        	<tr bgcolor="#f0f0f0" class="f-black-12-b">
            	<td height="30" class="f-black-14-b">商品名称</td>
                <td width="65">单价</td>
                <td width="100" align="center">数量</td>
                <td width="70">小计</td>
                <td width="65" valign="middle">操作</td>
            </tr>
			<% cart.items.each do |item| %>
            <tr>
            	<td height="30"><%= link_to item.product.cn_name, product_path(item.product), :class=>"f-blue-12-b" %></td>
                <td>￥<%= format "%.2f", item.product.price %></td>
                <td align="center">
					<%= form_tag({:action=>'update_product', :id=>item.productid}, :name=>'update_product_form_' + item.productid.to_s) do %>
					<a title="减少" href="javascript:if($('#quantity_<%= item.productid %>').val() > 1){$('#quantity_<%= item.productid %>').val($('#quantity_<%= item.productid %>').val() - 1);$('#quantity_<%= item.productid %>').change();}"><img src="/images/minus_btn.gif"></a>
					<input id="quantity_<%= item.productid %>" type="text" maxlength="4" class="con_mycart_input" size="2" value="<%= item.quantity %>" onchange="javascript:if(parseInt($('#quantity_<%= item.productid %>').val()) > 0){document.update_product_form_<%= item.productid.to_s %>.submit();}" name="quantity" />
                    <a title="增加" href="javascript:if($('#quantity_<%= item.productid %>').val() >= 0){$('#quantity_<%= item.productid %>').val($('#quantity_<%= item.productid %>').val() - 0 + 1);$('#quantity_<%= item.productid %>').change();}"><img src="/images/plus_btn.gif"></a>
					<% end %>
                </td>
                <td>￥<%= format "%.2f", item.subtotal %></td>
                <td class="f-red-12">
					<a href="/cart/delete_product/<%= item.productid %>">删除</a> 
					<!--
					<a href="">收藏</a>
					-->
				</td>
			</tr>
			<% end %>
         </tbody>
	</table>
    <div class="f-black-20-hei lastprice">合计金额： <span class="f-red-12-b">￥</span><span class="f-red-30-Ar-b"><%= format "%.2f", cart.total %></span></div>
	
 	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  		<tr>
    		<td><a href="/category"><img src="/images/continue_buy_btn.gif" width="118" height="35" /></a></td>
    		<td align="right"><a href="/orders/new" onclick="javascript:if(<%= cart.quantity %> == 0){return false;}"><img src="/images/check out_btn.gif" width="119" height="35" /></a></td>
  		</tr>
	</table>
	<% else %>
	<div align="center"><a href="/category"><img src="/images/cart_empty.gif" width="424" height="174" /></a></div>
	<% end %>
</div>
<div class="clearit"></div>
