<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">所有提货预约</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
	      	<tbody>
	          <tr bgcolor="#f0f0f0" class="f-black-12-b">
	              <td height="30" width="125">编号</td>
	              <td>地址/邮编/联系人/电话</td>
	              <td width="130">期望送货时间</td>
	              <td width="60">状态</td>
	              <td width="40">操作</td>
	          </tr>
			<% @exchanges.each do |exchange| %>
		 	<tr>
			    <td height="30"><%= link_to exchange.no, exchange_path(exchange), :class => 'f-red-12' %></td>
			    <td><%= exchange.province %> <%= exchange.city %> <%= exchange.region %> <%= exchange.address %> <%= exchange.zip %> <%= exchange.fullname %> <%= exchange.phone %></td>
				  <td><%= exchange.expected_time.strftime('%Y-%m-%d %H:%M:%S') %></td>
				  <td><%= exchange.status %></td>
				  <td>
				  		<% case exchange.status %>
						<% when '等待确认' %>
						<%= link_to '[确认]', {:action => :confirm, :controller => :exchanges, :id => exchange.id }, :class => 'f-red-12' %>
						<% when '等待配送' %>
						<%= link_to '[配送]', {:action => :done, :controller => :exchanges, :id => exchange.id }, :class => 'f-red-12' %>
						<% end %>
				  </td>
		  	</tr>
			<% end %>
	        </tbody>
			</table>
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @exchanges %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>