<script type="text/javascript" src="/javascripts/jquery-impromptu.3.1.min.js"></script>
<script type="text/javascript">
    function check_coupon(){
        $.ajax({
          url: "/orders/get_coupon?code=" + $('#coupon_code_input').val(),
          dataType: 'json',
          success: function(data){
                if (data){
                    $.each(data, function(i,item){
						$('#coupon_code_holder').attr("checked",true).val($('#coupon_code_input').val());
                        $('#discount').html(parseFloat(item.discount).toFixed(2));
                        $('#coupon_code_show').html($('#coupon_code_input').val()).show();
                        $('#coupon_code_input').hide();
                        $('#coupon_button').hide();
						check_carriage();
						
                      });
                }else{
                    $.prompt('您输入的优惠券无法识别或者当前订单不符合使用条件。',
                        {
                            buttons:{ 确定:true },
                            callback:function(v,m,f){ $(this).remove();}
                        });
                }
            }
        });
	}
	
	function check_carriage(){
	    $.ajax({
          url: "/orders/get_carriage?total=" + (parseFloat($('#total').html()) - parseFloat($('#discount').html())),
          dataType: 'json',
          success: function(data){
                $('#carriage').html(parseFloat(data).toFixed(2));
				set_pay_price();
            }
        });
	}
	
	function set_pay_price(){
		$('#pay_price').html((parseFloat($('#total').html()) - parseFloat($('#discount').html()) + parseFloat($('#carriage').html())).toFixed(2));
	}

	function select_coupon(control,discount){
		if (control.checked){
			
			$('#coupon_code_input').val("").show();
            $('#coupon_button').show();
			$('#coupon_code_show').html("").hide();
			$('#coupon_code_holder').val("0");
			
			$('#discount').html(parseFloat(discount).toFixed(2));
			
			check_carriage();
		}
	}

	function show_addaddress(){
		$('#table_addaddress').show();
	}
	
	function hide_addaddress(){
		$('#table_addaddress').hide();
	}
	
	function verify_address(){
		if ($('#name').val() != '' && $('#province').val() != '' && $('#city').val() != '' && $('#region').val() != '' && $('#detail').val() != '' && $('#phone').val() != '' && $('#zip').val() != ''){
			return true;
		}else{
			return false;
		}
	}
	
	function next_step(){
		var txt = '';
		var flag_submit = true;
		var address_id = $('input[name="address_id"]:checked').val();
		if (address_id == '0'){
			if (!verify_address()){
				txt = '请填写完整地址信息。';
				flag_submit = false;	
			}
		}
		
		if (flag_submit){
			$('#create_order').submit();
		}else{
			$.prompt(txt,
				{
					buttons:{ 确定:true },
					callback:function(v,m,f){ $(this).remove();}
				});
		}
	}
	
	$(document).ready(function(){
		var address_id = $('input[name="address_id"]:checked').val();
		if (address_id == null){
			$('#address_id_0').click();
		}
	});
	
</script>
<div class="clearit bj-sp10"></div>
<div id="mlist_detail">
	<div class="order_box">
		<h1 class="f-black-12">
			<img src="/images/msl_couponuse.gif" width="99" height="29" />
		</h1>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="fpnormal f-black-12">
        	<tbody>
				<tr>
          			<td>
						<input type="text" id="codes_input" size="120" value='<%= params[:codes] %>' />
						<a id="code_button" href="#" onclick="javascript:window.location.href = '/exchanges/new?codes=' + $('#codes_input').val(); return false;"><img src="/images/use_discount.gif" width="120" height="30" /></a>  多个请用空格隔开。
          			</td>
          		</tr>
        	</tbody>
		</table>
		

		<h1 class="f-black-12">
			<img src="/images/msl_pdlist.gif" width="99" height="29" />
		</h1>                           
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="order_table">
        	<tbody>
				<tr bgcolor="#ebebeb" class="f-black-12-b">
					<td width="20%" align="center">领用券编号</td>
					<td width="15%" align="center">商品编号</td>
					<td align="center">商品名称</td>
					<td width="5%" align="center">数量</td>
					<td width="10%" align="center">单价</td>
					<td width="5%" align="center">操作</td>
          	    </tr>
				<% @tickets.each do |item| %>
				<tr>
					<td align="center"><%= item.code %></td>
					<td align="center"><%= item.product.sku %></td>
					<td align="center"><%= item.product.cn_name %></td>
					<td align="center">1</td>
					<td align="center">￥<%= format "%.2f", item.price %></td>
					<td align="center"><%= link_to '删除', {:action => :new, :codes => @codes.delete_if{|code| code == item.code }.join(' ') }, :class => 'f-red-12' %></td>
				</tr>
				<% @codes << item.code %>
				<% end %>
			</tbody>
		</table>

		<div id="addresses_div">
			<h1 class="f-black-12">
				<img src="/images/msl_userinfo.gif" width="99" height="25" />
			</h1>
			<div class="address_list">
				<% @addresses.each do |address| %>
				<p>
					<input type="radio" onclick="hide_addaddress();" name="address_id" value="<%= address.id %>" <%= address.default ? "checked" : "" %> />
					<span id="address_<%= address.id %>"><%= address.name %>,&nbsp;&nbsp;<%= address.province %>&nbsp;&nbsp;<%= address.city %>&nbsp;&nbsp;<%= address.region %>&nbsp;&nbsp;<%= address.detail %>&nbsp;&nbsp;<%= address.phone %>&nbsp;&nbsp;<%= address.zip %></span>
				</p>
				<% end %>
				<p>
					<input type="radio" id="address_id_0" name="address_id" value="0" onclick="show_addaddress();" />使用新地址:
				</p>
			</div>

		  	<div id="table_addaddress" style="display:none;">
		  		<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
		    		<tbody>
						<tr>
							<td height="30" width="10">*</td>
				          	<td width="70">收货人</td>
				          	<td align="left"><input type="text" id="name" name="address[name]" maxlength="10" /></td>
				        </tr>
		    			<tr>
							<td height="30" width="10">*</td>
							<td>地址</td>
							<td align="left">
								<% areas = Area.new.get_provinces %>
								<select align="left" id="province" name="address[province]" id="province">
									<option disabled>-----请选择省/直辖市-----</option>
								    <% areas.each do |item| %>
									    <option value="<%= item.province %>">
									      <%= item.province %>
									    </option>
								    <% end %>
								</select>
								<select align="left" id="city" name="address[city]" id="city">
									<option disabled>---------请选择市/区---------</option>
								</select>
								<select align="left" id="region" name="address[region]" id="region">
									<option disabled>------请选择区/县------</option>
								</select>
							</td>
						</tr>
						<tr>
							<td height="30" width="10">*</td>
		      				<td>详细地址</td>
		      				<td align="left"><input type="text" id="detail" size="30" name="address[detail]" /></td>
		    			</tr>
		    			<tr>
							<td height="30" width="10">*</td>
		      				<td>电话</td>
		      				<td align="left"><input type="text" id="phone" name="address[phone]" /></td>
		    			</tr>
		    			<tr>
							<td height="30" width="10">*</td>
		      				<td>邮编</td>
							<td align="left"><input type="text" id="zip" name="address[zip]" /></td>
		    			</tr>
		  			</tbody>
				</table>	  
		    </div>
		</div>
		
		<div class="order_comment f-black-12">
			<b>您需要附加说明吗？</b><br />
			<textarea rows="4" name="memo"></textarea>
		</div>
		
		<div class="order_comment f-black-12">
			<b>预约送货时间</b><br />
			<textarea rows="4" name="memo"></textarea>
		</div>
	</div>

	<div align="center">
		<a href="#" onclick="javascript:next_step(); return false;"><img src="/images/next-step_btn.gif" width="145" height="45" /></a>
	</div>
</div>
<div class="clearit"></div>
