<p>收到客户新提货预约，详情如下：</p>

<p>
收货人信息:<%= @exchange.fullname %>,&nbsp;&nbsp;
<%= @exchange.phone %>&nbsp;&nbsp;
<%= @exchange.province %>&nbsp;&nbsp;
<%= @exchange.city %>&nbsp;&nbsp;
<%= @exchange.region %>&nbsp;&nbsp;
<%= @exchange.address %>&nbsp;&nbsp;
<%= @exchange.zip %><br />
商品数量:<%= @exchange.count %><br />
期望送货时间:<%= @exchange.expected_time.strftime('%Y-%m-%d %H:%M:%S') %><br />
附加说明:<%= @exchange.memo %>
</p>
详细清单：
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="order_table">
    <tbody>
		<tr bgcolor="#ebebeb" class="f-black-12-b">
			<td height="30" width="20%" align="center">提货券编号</td>
			<td align="center">商品编号</td>
			<td align="center">商品名称</td>
			<td width="10%" align="center">数量</td>
  	    </tr>
		<% @exchange.tickets.each do |item| %>
		<tr>
			<td height="30" align="center"><%= item.code %></td>
			<td align="center"><%= item.product.sku %></td>
			<td align="center"><%= item.product.cn_name %></td>
			<td align="center">1</td>
		</tr>
		<% end %>
	</tbody>
</table>