<h2>更新帐号信息</h2>

<%= resource.display_name %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :name =>"user_edit" }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>
  
  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>
  
  <p><%= f.label :phone %><br />
  <%= f.text_field :phone %><%= link_to "修改手机号码", :action=> "update_phone" %></p>
  
  <p><%= f.label :gender %><br />
  <%= f.radio_button :gender, 'male' %><%= label_tag(:gender_male, "男") %>
  <%= f.radio_button :gender, 'female' %><%= label_tag(:gender_female, "女") %>
  <%= f.radio_button :gender, 'NA' %><%= label_tag(:gender_NA, "保密") %>
  </p>
  <p><%= f.label :birth %><br />
  <%= f.date_select :birth, :start_year => 2010, :end_year => 1960 %>
  <!--
  <%#  select_date :prompt => {:day => '日', :month => '月', :year => '年'}, :start_year => 2010, :end_year => 1960, :prefix => :birth %>
  -->
  </p>


  <p><%= f.label :current_password %> <i>要更新您的帐号资料，请在此输入当前密码 we need your current password to confirm your changes</i><br />
  <%= f.password_field :current_password %></p>
  
  <p><%= f.label :password %> <i>如果你不打算更改密码，此处请留空 leave blank if you don't want to change it</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>


  <p><%= f.submit "更新 Update" %></p>
<% end %>

<h3>注销帐号</h3>

<p>Unhappy? <%= link_to "删除帐号和所有帐号信息 Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
