<script type="text/javascript">
//===========================点击展开关闭效果====================================
function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){
var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;
var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;
var openTip = oOpenTip || "";
var shutTip = oShutTip || "";
if(targetObj.style.display!="none"){
   if(shutAble) return;
   targetObj.style.display="none";
   if(openTip  &&  shutTip){
    sourceObj.innerHTML = shutTip; 
   }
} else {
   targetObj.style.display="block";
   if(openTip  &&  shutTip){
    sourceObj.innerHTML = openTip; 
   }
}
}
</script>

<!--select-->
<div class="pdselect">
	<ul id="selectbox">
		<% defines = @category.product_attribute_defines.where(:search => true) %>
		<% defines.each_with_index do |define, index| %>
		<li>
			<% if index == 0 %>
			<dl class="fore">
			<% else %>
			<dl>
			<% end %>
				<dt><%= define.name %>：</dt>
				<dd>
					<div><a href="<%= cat_path_with_selected_value @category, define, nil %>" class="<%= value_selected?(@category, define, nil) ? '' : 'sel' %>">不限</a></div>
					<% values = define.product_attribute_values %>
					<% values.each do |value| %>
					<div><a href="<%= cat_path_with_selected_value @category, define, value %>" class="<%= value_selected?(@category, define, value) ? '' : 'sel' %>"><%= value.value %></a></div>	
					<% end %>
				</dd>
			</dl>
		</li>
		<% end %>
	</ul>
	<div class="clearit"></div>
	<div class="pdselect_bar">
		<a href="#" onClick="openShutManager(this,'selectbox',false,'<img src=/images/select_bar_up.gif width=126 height=12>','显示查询条件<br><img src=/images/select_bar_down.gif width=126 height=12>')"><img src="/images/select_bar_up.gif" width="126" height="12" /></a>
	</div>
</div>