<!--shoplist-->
<div class="shopLbox">
<!--#sort-->
	<div class="goodsResult">
		<div class="list_num_top">
			<% if @products.length > 0 %>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right" width="120">
					<% if @products && @products.count > 1 %>
					<table width="100%" border="0" cellspacing="5" cellpadding="0">
			  			<tr>
							<td><a href="<%= sort_by?('price') ? cat_path_with_sort('price', 1) : cat_path_with_sort('price', 0) %>" class="<%= sort_by?('price') ? "order_up" : "order_down" %>">价格</a></td>
							<td><a href="<%= sort_by?('sold_count') ? cat_path_with_sort('sold_count', 1) : cat_path_with_sort('sold_count', 0) %>" class="<%= sort_by?('sold_count') ? "order_up" : "order_down" %>">销量</a></td>
			  			</tr>
					</table>
					<% end %>
				</td>
			    <td align="right" width="880">
					<%= paginate @products %>
				</td>
			  </tr>
			</table>
			<% end %>
		</div>

		<div class="clearit"></div>
		<ul class="pagePicView">
			<% if @products.length == 0 %>
			<center>没有符合条件的产品.</center>
			<% end %>
			<% @products.each_with_index do |item, index| %>
			<li<%= index%4 == 0 ? ' class=one' : '' %>>
		    <%= render :partial => "products/product", :object => item %>
			</li>
			<% end %>
		</ul>
		
		<div class="clearit"></div>
		<div class="list_num_top">
			<% if @products.length > 0 %>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right" width="120">
					<% if @products && @products.count > 1 %>
					<table width="100%" border="0" cellspacing="5" cellpadding="0">
			  			<tr>
							<td><a href="<%= sort_by?('price') ? cat_path_with_sort('price', 1) : cat_path_with_sort('price', 0) %>" class="<%= sort_by?('price') ? "order_up" : "order_down" %>">价格</a></td>
							<td><a href="<%= sort_by?('sold_count') ? cat_path_with_sort('sold_count', 1) : cat_path_with_sort('sold_count', 0) %>" class="<%= sort_by?('sold_count') ? "order_up" : "order_down" %>">销量</a></td>
			  			</tr>
					</table>
					<% end %>
				</td>
			    <td align="right" width="880">
					<%= paginate @products %>
				</td>
			  </tr>
			</table>
			<% end %>
		</div>
   	</div>
	<div class="clearit"></div>
</div>
