<div id="ac_left">
	<div class="contentbox">
		<h2><img src="/images/myac_h2.gif" width="79" height="40" /></h2>
		<ul>
			<li><%= link_to '产品管理', products_path %></li>
			<li><%= link_to '产品属性', product_attribute_defines_path %></li>
			<li><%= link_to '订单管理', orders_path %></li>
			<li><%= link_to '订单历史', order_changes_path %></li>
			<li><a href="/admin/users">账户管理</a></li>
			<li><a href="#">积分管理</a></li>
			<li><a href="#">资金管理</a></li>
			<li><%= link_to '优惠券管理', coupons_path %></li>
			<li><%= link_to '支付记录', alipay_logs_path %></li>
			<!-- <li><a href="/admin/addresses">地址管理</a></li> -->
		</ul>
	</div>
	<div class="bj-sp10"></div>
	<div class="contentbox">
		<h2><img src="/images/mylist_h2.gif" width="79" height="40" /></h2>
		<ul>
			<li><a href="/admin/password">修改密码</a></li>
			<li><a href="/admin/logs">日志</a></li>
		</ul>
	</div>
</div>
