<div id="ac_left">
	<div class="contentbox">
		<h2><img src="/images/myac_h2.gif" width="79" height="40" /></h2>
		<ul>
			<li><%= link_to '产品', products_path %></li>
			<li><%= link_to '产品分类', categories_path %></li>
			<li><%= link_to '产品属性定义', product_attribute_defines_path %></li>
			<li><%= link_to '产品属性值', product_attribute_values_path %></li>
			<li><%= link_to 'WIKI', wikis_path %></li>
			<li><%= link_to '订单', orders_path %></li>
			<li><%= link_to '订单历史', order_changes_path %></li>
			<li><%= link_to '送货单', dispatches_path %></li>
			<li><%= link_to '提货券', tickets_path %></li>
			<li><%= link_to '提货预约', exchanges_path %></li>
			<li><%= link_to '优惠券', coupons_path %></li>
			<li><%= link_to '支付记录', alipay_logs_path %></li>
			<li><%= link_to '账户', users_path %></li>
		</ul>
	</div>
	<div class="bj-sp10"></div>
	<div class="contentbox">
		<h2><img src="/images/mylist_h2.gif" width="79" height="40" /></h2>
		<ul>
			<li><a href="/admin/password">修改密码</a></li>
			<li><a href="/admin/logs">日志</a></li>
		</ul>
	</div>
</div>
