<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">所有产品</li>
			<li><%= link_to "添加产品", :action => :new, :controller => :products %></li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="170">
                            名称
                        </td>
                        <td width="65">
                            SKU
                        </td>
                        <td width="70">
                            单价
                        </td>
                        <td width="70">
                            指导价
                        </td>
                        <td width="65" valign="middle" bgcolor="#f0f0f0" align="center">
                          	售出
                        </td>
                        <td width="70" valign="middle" bgcolor="#f0f0f0" align="center">
                            库存
                        </td>
                        <td width="70" valign="middle" bgcolor="#f0f0f0" align="center">
                            状态
                        </td>
                        <td width="70" valign="middle" bgcolor="#f0f0f0" align="center">
                            操作
                        </td>
                    </tr>
					<% @products.each do |product| %>
				 	<tr>
					    <td height="30"><%= product.name %></td>
					    <td><%= product.sku %></td>
					    <td><%= format "%.2f", product.price %></td>
					    <td><%= format "%.2f", product.indication_price %></td>
						<td><%= product.sold_count %></td>
					    <td><%= product.count %></td>
						<td><%= product.status %></td>
						<td>
							<%= link_to "[编辑]", edit_product_path(product), :class => 'f-red-12' %>
							<%= link_to '[详情]', product, :class => 'f-red-12' %>
						</td>
				  	</tr>
					<% end %>
                </tbody>
			</table>
			<%= paginate @products %>
		</div>
	</div>
</div>
<div class="clearit"></div>