<h1>Listing product_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_statuses.each do |product_status| %>
  <tr>
    <td><%= product_status.name %></td>
    <td><%= product_status.description %></td>
    <td><%= link_to 'Show', product_status %></td>
    <td><%= link_to 'Edit', edit_product_status_path(product_status) %></td>
    <td><%= link_to 'Destroy', product_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product status', new_product_status_path %>
