<div class="clearit bj-sp10"></div>
<div id="mlist_detail">
	<div id="confirm_bg">
		<div class="f-black-14-YaHei">
			注册成功，我们已经向您的注册邮箱发送了一封验证邮件。请登陆邮箱激活账号。验证后您就可以登陆。<br />
			没有收到邮件？<a>再发一封</a>。
			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <p><%= f.label :email %><br />
			  <%= f.text_field :email %></p>

			  <p><%= f.submit "发送确认邮件 Resend confirmation instructions" %></p>
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>