<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">所有账户</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="170">
                            账户邮箱
                        </td>
                        <td width="160">
                            注册时间
                        </td>
                        <td width="160">
                            验证时间
                        </td>
                        <td width="160">
                            最后登陆时间
                        </td>
                        <td width="30">
                          	登陆
                        </td>
                        <td width="100">
                            最后登陆IP
                        </td>
                        <td width="80">
                            操作
                        </td>
                    </tr>
					<% @users.each do |user| %>
				 	<tr>
					    <td height="30"><%= link_to user.email, user_path(user), :class => 'f-red-12', :target => '_blank'  %></td>
					    <td><%= user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
						<td><%= user.confirmed_at ? user.confirmed_at.strftime('%Y-%m-%d %H:%M:%S') : "未激活" %></td>
					    <td><%= user.last_sign_in_at ? user.last_sign_in_at.strftime('%Y-%m-%d %H:%M:%S') : "从未登陆" %></td>
						<td><%= user.sign_in_count %></td>
					    <td><%= user.current_sign_in_ip %></td>
						<td>
							<% if user.admin %>
							<%= link_to "[取消管理员]", {:action => :set_role, :controller => :users, :id => user.id, :role => 'user' }, :class => 'f-red-12' %>
							<% else %>
							<%= link_to "[设为管理员]", {:action => :set_role, :controller => :users, :id => user.id, :role => 'admin' }, :class => 'f-red-12' %>
							<% end %>
						</td>
				  	</tr>
					<% end %>
                </tbody>
			</table>
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @users %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>
