<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li><%= link_to "所有用户", users_path %></li>
			<li class="on">查看用户</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfoL">
				<tbody>
					<tr>
					    <td height="30" width="100" class="tcenter">编号</td>
					    <td><%= @user.email %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">收货人详细信息</td>
					    <td></td>
					</tr>
			    </tbody>
			</table>
			<div class="bj-sp10"></div>

		    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
				<tbody>
					<tr bgcolor="#f0f0f0" class="f-black-12-b">
	                    <td height="30" colspan="6">订单信息</td>
	                </tr>
	                <tr bgcolor="#f0f0f0" class="f-black-12-b">
	                    <td height="30" width="150">编号</td>
	                    <td width="65">付款金额</td>
	                    <td width="">客户</td>
	                    <td width="150">创建时间</td>
	                    <td width="100">状态</td>
	                </tr>
					<% @user.orders.each do |order| %>
				 	<tr>
					    <td height="30"><%= link_to order.no, order_path(order), :class => 'f-red-12', :target => '_blank'  %></td>
					    <td><%= format "%.2f", order.pay_price %></td>
					    <td><%= order.user.display_name %></td>
					    <td><%= order.order_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
					    <td><%= order.status %></td>
				  	</tr>
					<% end %>
				</tbody>
		    </table>
			<div class="bj-sp10"></div>
		</div>
	</div>
</div>
<div class="clearit"></div>