<div class="crumb">
    <a href="/">首页</a> 
    &gt;<span id="dangqian1">用户资料</span>
    &gt;<span style="color: rgb(151, 0, 5);" id="dangqian">增加地址</span>
</div>
<%= render 'devise/userside' %>

<div class="all_content">

<h2>修改密码 Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "改密码 Change my password" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
