
<div class="all_content">

<h2>忘记密码了，通过电子邮件找回密码</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %>
  <%= f.text_field :email %></p>

  <p><%= f.submit "找回密码" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
