<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li><%= link_to '账户信息', :action => :account, :controller => :my %></li>
			<li class="on">编辑账户</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :method => :put, :name =>"user_edit" }) do |f| %>
			<% if resource.errors.any? %>
			<div class="common_error">
				<ul>
			    <% resource.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			</div>
			<% end %>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfoL">
				<tbody>
					<tr>
					    <td height="30" width="100" class="tcenter">账户</td>
					    <td><%= resource.email %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">姓名</td>
					    <td><%= f.text_field :name %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">电话</td>
					    <td><%= f.text_field :phone %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">性别</td>
					    <td>
					    	<%= f.radio_button :gender, '男' %><%= label_tag(:gender_male, "男") %>
			                <%= f.radio_button :gender, '女' %><%= label_tag(:gender_female, "女") %>
			                <%= f.radio_button :gender, '保密' %><%= label_tag(:gender_NA, "保密") %>
					    </td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">生日</td>
					    <td><%= f.date_select :birth, :start_year => 2010, :end_year => 1960 %></td>
					</tr>
			    </tbody>
			</table>
			<div class="bj-sp10"></div>
			<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
            	<tbody>
					<tr>
				    	<td width="100%" valign="middle" align="middle">
				        	<a href="javascript:$('#user_edit').submit();"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
				        </td>
				    </tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>