<%= render 'my/crumb' %>
<%= render 'my/userside' %>

<div class="all_content">

  <div class="regbox">
    <%= render 'devise/alert' %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :method => :put, :name =>"user_edit" }) do |f| %>
        
    <table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
      <tbody>
          <tr>
              <td width="75px" height="35" align="right" valign="middle">
                <%= f.label :email %>：
              </td>
              <td width="210px" align="left" valign="middle">
              	<%= f.text_field :email, :class => :areabox %>
              </td>
              <td width="315px" align="left">
              
              </td>
          </tr>
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :name %>：
              </td>
              <td align="left" valign="middle">
              	<%= f.text_field :name, :class => :areabox %>
              </td>
              <td align="left">
              
              </td>
          </tr>    
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :phone %>：
              </td>
              <td align="left" valign="middle">
              	 <%= f.text_field :phone, :class => :areabox %>
              </td>
              <td align="left">
              
              </td>
          </tr> 
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :gender %>：
              </td>
              <td align="left" valign="middle">
              	<%= f.radio_button :gender, '男' %><%= label_tag(:gender_male, "男") %>
                <%= f.radio_button :gender, '女' %><%= label_tag(:gender_female, "女") %>
                <%= f.radio_button :gender, '保密' %><%= label_tag(:gender_NA, "保密") %>
              </td>
              <td align="left">
              
              </td>
          </tr>        
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :birth %>：
              </td>
              <td align="left" valign="middle">
              	<%= f.date_select :birth, :start_year => 2010, :end_year => 1960 %>
              </td>
              <td align="left">
              
              </td>
          </tr>                                                              
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :current_password %>：
              </td>
              <td align="left" valign="middle">
              	<%= f.password_field :current_password, :class => :areabox %>
              </td>
              <td align="left">
                要更新您的帐号资料，请输入当前密码
              </td>
          </tr>                                                              
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :password %>：
              </td>
              <td align="left" valign="middle">
              	<%= f.password_field :password, :class => :areabox %>
              </td>
              <td align="left">
                如果不打算更改密码，此处请留空
              </td>
          </tr>                                                              
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :password_confirmation %>：
              </td>
              <td align="left" valign="middle">
              	<%= f.password_field :password_confirmation, :class => :areabox %>
              </td>
              <td align="left">
              
              </td>
          </tr>
          <tr>
              <td height="35" align="right" valign="middle">
                
              </td>
              <td align="left" valign="middle">
              	<%= f.submit "更新个人信息" %>
              </td>
              <td align="left">
              
              </td>
          </tr>                     
      </tbody>
    </table>               
    <% end %>
  </div>
</div>

