<script type="text/javascript">
$(document).ready(function(){
	$('#password_confirmation').keydown(function(e){ 
		if(e.keyCode == 13){
			$('#password_confirmation').change();
			$('#user_new').submit();
		} 
	});
	
	$('#email').keydown(function(e){ 
		if(e.keyCode == 13){ 
			$('#email').change();
			$('#password').focus();
		} 
	});
	
	$('#password').keydown(function(e){ 
		if(e.keyCode == 13){ 
			$('#password').change();
			$('#password_confirmation').focus();
		} 
	});
	
	//$('#email').focus();
	
	var txt = '请用电子邮件地址作为登录帐户名.';
	
	$('#email').val(txt);
	
	$('#email').blur(function(){
		if ($('#email').val() == ''){
			$('#email').val(txt);
		};
	});
	
	$('#email').focus(function(){
		if ($('#email').val() == txt){
			$('#email').val('');
		}
	});
	
});
</script>

<div id="join_now"><img src="/images/reg_wyjr.gif" width="295" height="42" /></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :method => :post, :name => :user_new }) do |f| %>
<table id="reg_table" border="0" cellspacing="0" cellpadding="0">
	<tr>
	    <td class="tdtitle"><img src="/images/reg_username.gif" width="108" height="19" /></td>
	    <td><%= f.text_field :email, :id => :email %></td>
  	</tr>
	<tr>
	    <td><img src="/images/reg_password.gif" width="75" height="19" /></td>
	    <td><%= f.password_field :password, :id => :password %></td>
	</tr>
  	<tr>
	    <td><img src="/images/reg_password_confirm.gif" width="108" height="19" /></td>
	    <td><%= f.password_field :password_confirmation, :id => :password_confirmation %><!-- span class="ipterror"></span --></td>
  	</tr>
  	<!-- <tr>
	    <td><img src="/images/reg_suggestuser.gif" width="107" height="19" /></td>
	    <td><%= f.text_field :ref %><span class="ipterror"></span></td>
  	</tr>
  	<tr>
    	<td><img src="/images/reg_verify.gif" width="80" height="18" /></td>
	    <td colspan="2">
			<input type="text" name="textfield5" id="textfield5" class="verify" />
	    	<img src="/images/reg_yzm.gif" width="78" height="28" /><a href="#">看不清 换一张</a>
		</td>
    </tr> -->
  	<tr>
    	<td>&nbsp;</td>
    	<td>
			<div id="reg_submit">
				<a href="javascript:$('#user_new').submit();">
					<img src="/images/reg_btn.gif" width="197" height="53" />
				</a>
				<input name="" type="checkbox" value="" checked="checked" class="iptnormal" />
				<span class="attention">
					
					<a href="/help/agreement">我已经阅读并同意&lt;12doo服务条款&gt;</a>
					<%= link_to "我有帐号，立刻登陆", new_session_path(resource_name) %>
				</span>
			</div>
		</td>
  	</tr>
</table>
<% end %>
<div class="clearit"></div>
