<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :threshold %><br />
    <%= f.text_field :threshold %>
  </div>
  <div class="field">
    <%= f.label :used_time %><br />
    <%= f.text_field :used_time %>
  </div>
  <div class="field">
    <%= f.label :product_category %><br />
    <%= f.text_field :product_category %>
  </div>
  <div class="field">
    <%= f.label :belongs_to %><br />
    <%= f.text_field :belongs_to %>
  </div>
  <div class="field">
    <%= f.label :all_user %><br />
    <%= f.text_field :all_user %>
  </div>
  <div class="field">
    <%= f.label :one_off %><br />
    <%= f.text_field :one_off %>
  </div>
  <div class="field">
    <%= f.label :begin %><br />
    <%= f.text_field :begin %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.text_field :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
