<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
	<tbody>
		<tr>
		    <td height="30" width="70">编码</td>
		    <td>
				<input type="text" name="coupon[code]" value="<%= @coupon.code %>" />
			</td>
		</tr>
		<tr>
		    <td height="30">折扣</td>
		    <td><input type="text" name="coupon[discount]" value="<%= @coupon.discount %>" /></td>
		</tr>
		<tr>
		    <td height="30">订单金额</td>
		    <td><input type="text" name="coupon[threshold]" value="<%= @coupon.threshold %>" /></td>
		</tr>
		<tr>
		    <td height="30">使用次数</td>
		    <td><input type="text" name="coupon[used_time]" value="<%= @coupon.used_time %>" /></td>
		</tr>
		<tr>
		    <td height="30">用于分类</td>
		    <td><input type="text" name="coupon[product_category]" value="<%= @coupon.product_category %>" /></td>
		</tr>
		<tr>
		    <td height="30">属于</td>
		    <td><input type="text" name="coupon[belongs_to]" value="<%= @coupon.belongs_to %>" /></td>
		</tr>
		<tr>
		    <td height="30">所有人可用</td>
		    <td><input type="text" name="coupon[all_user]" value="<%= @coupon.all_user %>" /></td>
		</tr>
		<tr>
		    <td height="30">一次性</td>
		    <td><input type="text" name="coupon[one_off]" value="<%= @coupon.one_off %>" /></td>
		</tr>
		<tr>
		    <td height="30">启用时间</td>
		    <td><input type="text" name="coupon[begin]" value="<%= @coupon.begin %>" /></td>
		</tr>
		<tr>
		    <td height="30">结束时间</td>
		    <td><input type="text" name="coupon[end]" value="<%= @coupon.end %>" /></td>
		</tr>
    </tbody>
</table>