<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">所有优惠券</li>
			<li><%= link_to '创建优惠券', :action => :new %></li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
      	<tbody>
          <tr bgcolor="#f0f0f0" class="f-black-12-b">
              <td height="30">编号</td>
              <td width="60">属于</td>
              <td width="100">抵扣/最低金额</td>
              <td width="40">一次性</td>
              <td width="40">已用</td>
              <td width="160">有效期</td>
              <td width="40">操作</td>
          </tr>
					<% @coupons.each do |coupon| %>
				 	<tr>
					    <td height="30"><%= coupon.code %></td>
					    <td><%= coupon.user ? coupon.user.name : "所有人" %></td>
					    <td><%= format "%.2f", coupon.discount %> / <%= format "%.2f", coupon.threshold %></td>
						  <td><%= coupon.one_off ? '是' : '否' %></td>
						  <td><%= coupon.used_time %> 次</td>
						  <td><%= coupon.begin ? coupon.begin.strftime('%Y-%m-%d') : "" %> ~ <%= coupon.end ? coupon.end.strftime('%Y-%m-%d') : "" %></td>
						  <td>
							  <%= link_to '[删除]', coupon, :method => :delete, :class => 'f-red-12' %>
						  </td>
				  	</tr>
					<% end %>
        </tbody>
			</table>
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @coupons %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>
