<script type="text/javascript">
	
</script>
<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li><%= link_to '所有优惠券', coupons_path %></li>
			<li class="on">创建优惠券</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<%= form_for(@coupon) do |f| %>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfoL" align="center">
				<tbody>
					<tr>
					    <td height="30" width="100" class="tcenter">折扣金额</td>
					    <td><%= f.text_field :discount %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">订单金额</td>
					    <td><%= f.text_field :threshold %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">用于分类</td>
					    <td><%= f.text_field :product_category %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">属于</td>
					    <td><%= f.text_field :user_id %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">所有人可用</td>
					    <td><%= f.check_box :all_user %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">一次性</td>
					    <td><%= f.check_box :one_off %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">启用时间</td>
					    <td><%= f.text_field :begin %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">结束时间</td>
					    <td><%= f.text_field :end %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">说明</td>
					    <td><%= f.text_field :memo, {:size => "70"} %></td>
					</tr>
					<tr>
					    <td height="30" class="tcenter">创建方式</td>
					    <td>
							<input type="radio" name="type" value="import" /> 导入
							<input type="radio" name="type" value="create" checked /> 创建
						</td>
					</tr>
					<tr id="td_prefix">
					    <td height="30" class="tcenter">前缀</td>
					    <td><input type="text" name="prefix" size="30" /></td>
					</tr>
					<tr id="td_count">
					    <td height="30" class="tcenter">生成个数</td>
					    <td><input type="text" name="count" size="30" value="1" /></td>
					</tr>
					<tr id="td_codes">
					    <td height="30" class="tcenter">编码</td>
					    <td><textarea type="text" name="codes" cols="60" rows="10"></textarea></td>
					</tr>
			    </tbody>
			</table>
			<div class="bj-sp10"></div>
			<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
            	<tbody>
					<tr>
				    	<td width="100%" valign="middle" align="middle">
				        	<a href="#" onclick="javascript:$('#new_coupon').submit();"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
				        </td>
				    </tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>