<!-- <link rel="stylesheet" type="text/css" href="/css/smallslider.css" media="screen" />
<script type="text/javascript" src="/javascripts/jquery.smallslider.js"></script>
<script type="text/javascript"> 
$(document).ready(function(){
	$('#flashbox').smallslider({
		onImageStop:false,
		time:4000,
	 	switchEffect:'ease',
		switchEase: 'easeOutSine',
		switchPath: 'up',
		switchMode: 'hover',
	    showText: false
	});
});
</script> -->
<!--#ad-->
<img src="/images/title_pic01.jpg" width="1000" height="180" />
<!-- <div id="flashbox" style="width:950px;height:180px;" class="smallslider">
	<ul>
		<li><a href="/promotions/open_110708" title="开业限时优惠"><img src="/images/110708_banner_index.gif" alt="开业限时优惠" /></a></li>
		<li><a href="/promotions/midautumn_110728" title="香港月饼专送"><img src="/images/110728_banner_index.png" alt="香港月饼专送" /></a></li>
	</ul>
</div> -->
 
<!--#sort 推荐-->         
<div class="sort">
	<img class="titleimg" src="images/title01.gif" width="113" height="43" />
	<div class="sortmore f-black-14-b">
		<%= link_to "查看所有产品", "/promotion" %>
	</div>
</div>
<div class="goodsResult index_goodslist">
  	<ul class="pagePicView">
		<% @promo.each_with_index do |item,index| %>
	    <li<%= index == 0 ? ' class=one' : '' %>>
	    <%= render :partial => "product", :object => item %>
	 	</li>
		<% end %>
	</ul>
	<div class="clearit"></div>
</div>
<div class="clearit"></div>

<!--#ad -->
<img src="/images/title_pic02.jpg" width="1000" height="180" />
<!--#sort 红-->         
<div class="sort">
  <img class="titleimg" src="/images/title02.gif" width="113" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", (search_path_by_short_value 'type', '红葡萄酒') %>
  </div>
</div>
<div class="goodsResult index_goodslist">
  <ul class="pagePicView">
  
	<% @red.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class=one' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>      
 	</ul>
	<div class="clearit"></div>
</div>
<div class="clearit"></div>

<!--#sort 白 -->         
<div class="sort">
  <img class="titleimg" src="/images/title03.gif" width="113" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", (search_path_by_short_value 'type', '白葡萄酒') %>
  </div>
</div>      
<div class="goodsResult index_goodslist">
  <ul class="pagePicView">
	<% @white.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class=one' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
 </ul>
<div class="clearit"></div>
</div>
<div class="clearit"></div>
