<!--#ad--> 
<img src="images/title_pic01.gif" width="950" height="181" />       
<!--#sort 推荐-->         
<div class="sort">
	<img class="titleimg" src="images/title01.gif" width="113" height="43" />
	<div class="sortmore f-black-14-b">
		<%= link_to "查看所有产品", search_path_without_keywords %>
	</div>
</div>
<div class="goodsResult">
  <ul class="pagePicView">
	<% @promo.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class="one"' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
 	</ul>

</div>
<div class="clearit"></div>

<!--#ad -->
<img height="181" width="950" src="images/title_pic03.gif" />
<!--#sort 红-->         
<div class="sort">
  <img class="titleimg" src="images/title02.gif" width="113" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", search_path_without_keywords %>
  </div>
</div>
<div class="goodsResult">
  <ul class="pagePicView">
  
	<% @red.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class="one"' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
                  
 	</ul>

</div>
<div class="clearit"></div>

<!--#sort 白 -->         
<div class="sort">
  <img class="titleimg" src="images/title03.gif" width="113" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", search_path_without_keywords %>
  </div>
</div>      
<div class="goodsResult">
  <ul class="pagePicView">
	<% @white.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class="one"' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
 </ul>

</div>
<div class="clearit"></div>

<!--#sort 其他-->         
<div class="sort">
  <img class="titleimg" src="images/title04.gif" width="135" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", search_path_without_keywords %>
  </div>
</div>

<div class="goodsResult">
  <ul class="pagePicView">
	<% @other.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class="one"' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
 	</ul>

</div>
<div class="clearit"></div>

