<!--#ad--> 
<img src="images/title_pic01.jpg" />       
<!--#sort 推荐-->         
<div class="sort">
	<img class="titleimg" src="images/title01.gif" width="113" height="43" />
	<div class="sortmore f-black-14-b">
		<%= link_to "查看所有产品", "/promotion" %>
	</div>
</div>
<div class="goodsResult">
  <ul class="pagePicView">
	<% @promo.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class=one' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
 	</ul>

</div>
<div class="clearit"></div>

<!--#ad -->
<img src="images/title_pic02.jpg" />
<!--#sort 红-->         
<div class="sort">
  <img class="titleimg" src="images/title02.gif" width="113" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", (search_path_by_short_value 'type', '红葡萄酒') %>
  </div>
</div>
<div class="goodsResult">
  <ul class="pagePicView">
  
	<% @red.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class=one' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
                  
 	</ul>

</div>
<div class="clearit"></div>

<!--#sort 白 -->         
<div class="sort">
  <img class="titleimg" src="images/title03.gif" width="113" height="43" />
  <div class="sortmore f-black-14-b">
    <%= link_to "查看所有产品", (search_path_by_short_value 'type', '白葡萄酒') %>
  </div>
</div>      
<div class="goodsResult">
  <ul class="pagePicView">
	<% @white.each_with_index do |item,index| %>
    <li<%= index == 0 ? ' class=one' : '' %>>
      <%= render :partial => "product", :object => item %>
 	</li>
	<% end %>
 </ul>

</div>
<div class="clearit"></div>
