<!--#ad--> 
<img src="images/title_pic01.gif" width="950" height="181" />       
<!--#sort-->         
	<div class="sort">
		<img class="titleimg" src="images/title01.gif" width="113" height="43" />
		<div class="sortmore f-black-14-b">
			<a href="#">查看所有产品</a>
		</div>
	</div>
  <div class="goodsResult">
    <ul class="pagePicView">
      <li class="one">
        <%= render :partial => "product_item4" %>
   	  </li>
      <li>
        <%= render :partial => "product_item5" %>
    	</li>
      <li>
        <%= render :partial => "product_item7" %>
    	</li>
      <li>
        <%= render :partial => "product_item9" %>
    	</li>
                    
   	</ul>

  </div>
  <div class="clearit"></div>

<!--#sort-->         
  <div class="sort">
    <img class="titleimg" src="images/title02.gif" width="113" height="43" />
    <div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
  </div>
  <div class="goodsResult">
    <ul class="pagePicView">
      <li class="one">
        <%= render :partial => "product_item10" %>
   	  </li>
      <li>
        <%= render :partial => "product_item2" %>
    	</li>
      <li>
        <%= render :partial => "product_item5" %>
    	</li>
      <li>
        <%= render :partial => "product_item4" %>
    	</li>
                    
   	</ul>

  </div>
  <div class="clearit"></div>

<!--#ad-->
<img height="181" width="950" src="images/title_pic02.gif" />
<!--#sort-->         
  <div class="sort">
    <img class="titleimg" src="images/title03.gif" width="113" height="43" />
    <div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
  </div>      
  <div class="goodsResult">
    <ul class="pagePicView">
      <li class="one">
        <%= render :partial => "product_item3" %>
   	  </li>
      <li>
        <%= render :partial => "product_item7" %>
    	</li>
      <li>
        <%= render :partial => "product_item8" %>
    	</li>
      <li>
        <%= render :partial => "product_item4" %>
    	</li>
                    
   	</ul>

  </div>
  <div class="clearit"></div>

<!--#sort-->         
  <div class="sort">
    <img class="titleimg" src="images/title04.gif" width="135" height="43" />
    <div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
  </div>
  
  <div class="goodsResult">
    <ul class="pagePicView">
      <li class="one">
        <%= render :partial => "product_item2" %>
      </li>
      <li>
        <%= render :partial => "product_item9" %>
      </li>
      <li>
        <%= render :partial => "product_item10" %>
      </li>
      <li>
        <%= render :partial => "product_item1" %>
      </li>
        
   	</ul>

  </div>
  <div class="clearit"></div>

<!--#ad
<img height="181" width="950" src="images/title_pic03.gif" />
-->
<!--#sort-->         
  <div class="sort">
    <img class="titleimg" src="images/title05.gif" width="113" height="44" />
    <div class="sortmore f-black-14-b"><a href="#">查看所有产品</a></div>
  </div>
  
  <div class="goodsResult">
    <ul class="pagePicView">
      <li class="one">
        <%= render :partial => "product_item1" %>
   	  </li>
      <li>
        <%= render :partial => "product_item2" %>
      </li>
      <li>
        <%= render :partial => "product_item8" %>
      </li>
      <li>
        <%= render :partial => "product_item10" %>
      </li>
                    
   	</ul>

  </div>
  <div class="clearit"></div>