<%= form_for(@wiki_page) do |f| %>
  <% if @wiki_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki_page.errors.count, "error") %> prohibited this wiki_page from being saved:</h2>

      <ul>
      <% @wiki_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :wiki_page_id %><br />
    <%= f.text_field :wiki_page_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
