<h1>Listing wiki_pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Wiki page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wiki_pages.each do |wiki_page| %>
  <tr>
    <td><%= wiki_page.title %></td>
    <td><%= wiki_page.wiki_page_id %></td>
    <td><%= link_to 'Show', wiki_page %></td>
    <td><%= link_to 'Edit', edit_wiki_page_path(wiki_page) %></td>
    <td><%= link_to 'Destroy', wiki_page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wiki page', new_wiki_page_path %>