<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @wiki_page.title %>
</p>

<p>
  <b>Wiki page:</b>
  <%= @wiki_page.wiki_page_id %>
</p>


<%= link_to 'Edit', edit_wiki_page_path(@wiki_page) %> |
<%= link_to 'Back', wiki_pages_path %>
