<script type="text/javascript">
	$(document).ready(function(){
		$('#province').change(function(){
			$.getJSON("/areas/get_cities?province=" + $('#province').val(), function(data){
				$('#city option').remove();
			  	$.each(data, function(i,item){
			    	$('#city').append("<option value='"+ item.area.city +"'>"+ item.area.city +"</option>");
			  	});
				$('#city').change();
			});
		});
	});
	
	$(document).ready(function(){
		$('#city').change(function(){
			$.getJSON("/areas/get_regions?province=" + $('#province').val() + "&city=" + $('#city').val(), function(data){
				$('#region option').remove();
			  	$.each(data, function(i,item){
			    	$('#region').append("<option value='"+ item.area.region +"'>"+ item.area.region +"</option>");
			  	});
				$('#region').change();
			});
		});
	});
	
	$(document).ready(function(){
		$('#region').change(function(){
			$.getJSON("/areas/get_detail?province=" + $('#province').val() + "&city=" + $('#city').val() + "&region=" + $('#region').val(), function(data){
				$('#zip').val(data[0].area.postcode);
				$('#zip').change();
			});
		});
	});

</script>

<div id="addresses_div">
	<h1 class="f-black-12">
		<img src="/images/msl_userinfo.gif" width="99" height="25" />
		<a id="close_link_address" style="display:none;" href="javascript:cancel_select_address()">[关闭]</a>
	</h1>
	<ul>
		<% current_user.addresses.each do |address| %>
		<li>
			<input type="radio" onclick="hide_addaddress();" name="address_id" value="<%= address.id %>" <%= address.default ? "checked" : "" %> />
			<div id="address_<%= address.id %>">
				<%= address.name %>,<%= address.province %>,<%= address.city %>,<%= address.region %>,<%= address.detail %>,<%= address.phone %>,<%= address.zip %>
			</div>
		</li>
		<% end %>
	</ul>
	<input type="radio" name="address_id" value="0" onclick="show_addaddress();" />使用新地址:
  	<div id="table_addaddress" style="display:none;">
  		<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
    		<tbody>
				<tr>
		          	<td width="88">收货人</td>
		          	<td width="174" align="left"><input type="text" id="name" name="address[name]" /></td>
		        </tr>
    			<tr>
					<td>地址</td>
					<td align="left">
						<% areas = Area.new.get_provinces %>
						<select id="province" name="address[province]" id="province">
							<option value=""></option>
						    <% areas.each do |item| %>
							    <option value="<%= item.province %>">
							      <%= item.province %>
							    </option>
						    <% end %>
						</select>
						<select id="city" name="address[city]" id="city">
						</select>
						<select id="region" name="address[region]" id="region">
						</select>
					</td>
				</tr>
				<tr>
      				<td>详细地址</td>
      				<td align="left"><input type="text" id="detail" name="address[detail]" /></td>
    			</tr>
    			<tr>
      				<td>电话</td>
      				<td align="left"><input type="text" id="phone" name="address[phone]" /></td>
    			</tr>
    			<tr>
      				<td>邮编</td>
					<td align="left"><input type="text" id="zip" name="address[zip]" /></td>
    			</tr>
  			</tbody>
		</table>	  
    </div>
	<input type="button" onclick="select_address();" value="确认收货人信息(这里需要修改一下样式)" />
</div>