<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no %><br />
    <%= f.text_field :no %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>

		<% @order.order_items.each do |item| %>
		<div class="field">
			<%= item.product_name %>:<%= item.price.to_f %>*<%= item.quantity %>=<%= item.subtotal.to_f %><br />
		
	</div>

	<% end %>
	<div class="field">
		<div id="cart"><%= link_to "change", :action=>'show', :controller=>'cart' %></div>
	</div>
	<div class="field">
		address <%= link_to "list", :action=>'index', :controller=>'address' %>
	</div>
		<% current_user.addresses.each do |item| %>
		<div class="field">
		<input type="radio" name="address_id" value="<%= item.id %>"><%= item.name %>/<%= item.detail %>/<%= item.province %>/<%= item.city %><br />
	</div>

	<% end %>
	<div cloass="field">
		<input type="radio" name="address_id" value="0">
	</div>
	<div class="field">
		<%= f.label :fullname %><br />
	    <%= f.text_field :fullname %>
	</div>
	<div class="field">
		<%= f.label :address %><br />
	    <%= f.text_field :address %>
	</div>
	<div class="field">
		<%= f.label :province %><br />
	    <%= f.text_field :province %>
	</div>
	<div class="field">
		<%= f.label :city %><br />
	    <%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :region %><br />
	    <%= f.text_field :region %>
	</div>
	<div class="field">
		<%= f.label :zip %><br />
	    <%= f.text_field :zip %>
	</div>
	<div class="field">
		<%= f.label :phone %><br />
	    <%= f.text_field :phone %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
