<%= render 'my/crumb' %>
<%= render 'devise/userside' %>
<table>
  <tr>
    <th>编号</th>
    <th>合计</th>
    <th>状态</th>
    <th>订单时间</th>
    <th>送达时间</th>
    <th>送货地址</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.no %></td>
    <td><%= order.total %></td>
    <td><%= order.status %></td>
    <td><%= order.order_at %></td>
    <td><%= order.delivery_at %></td>
    <td><%= order.address_id %></td>
    <td><%= link_to 'Show', order %></td>
    <td></td>
  </tr>
<% end %>
</table>
