<script type="text/javascript" src="/javascripts/jquery-impromptu.3.1.min.js"></script>
<script type="text/javascript">	
	function check_coupon(){
		$.ajax({
		  url: "/orders/get_coupon?code=" + $('#coupon_code').val(),
		  dataType: 'json',
		  success: function(data){
				if (data){
					$.each(data, function(i,item){
						$('#discount').html(parseFloat(item.discount).toFixed(2));
						$('#total').html((parseFloat($('#total').html()) - parseFloat(item.discount)).toFixed(2))
						$('#coupon_code_show').html($('#coupon_code').val()).show();
						$('#coupon_code').hide();
						$('#coupon_button').hide();
				  	});
				}else{
					$.prompt('您输入的优惠券无法识别或者当前订单不符合使用条件。',
						{
						buttons:{ 确定:true },
						callback:function(v,m,f){ $(this).remove();},
						});
					return;
				}
			},
		});
	}

	function show_addaddress(){
		$('#table_addaddress').show();
	}
	
	function hide_addaddress(){
		$('#table_addaddress').hide();
	}
	
	function verify_address(){
		if ($('#name').val() && $('#province').val() && $('#city').val() && $('#region').val() && $('#detail').val() && $('#phone').val() && $('#zip').val()){
			return true;
		}else{
			return false;
		}
	}
	
	function next_step(){
		var txt = '';
		var flag_submit = true;
		var address_id = $('input[name="address_id"]:checked').val();
		if (address_id == '0'){
			if (!verify_address()){
				txt = '请填写完整地址信息。';
				flag_submit = false;	
			}
		}
		
		if (flag_submit){
			$('#create_order').submit();
		}else{
			$.prompt(txt,
				{
					buttons:{ 确定:true },
					callback:function(v,m,f){ $(this).remove();},
				});
		}
	}
	
	$(document).ready(function(){
		var address_id = $('input[name="address_id"]:checked').val();
		if (address_id == null){
			$('#address_id_0').click();
		}
	});
	
</script>
<div class="clearit bj-sp10"></div>
<div id="mlist_step"><img src="/images/mlist_stepSec.gif" /></div>
<div id="mlist_detail">
	<%= form_tag 'create', :id => :create_order do %>
	<div class="order_box">
		<%= render "addresses" %>
		<%= render "pay" %>
		<h1 class="f-black-12"><img src="/images/msl_pdlist.gif" width="99" height="29" /></h1>                           
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="order_table">
        	<tbody>
				<tr bgcolor="#ebebeb" class="f-black-12-b">
					<td width="20%" align="center">商品编号</td>
					<td align="center">商品名称</td>
					<td width="10%" align="center">数量</td>
					<td width="10%" align="center">单价</td>
					<td width="10%" align="center">小计</td>
          	    </tr>
				<% @order.order_items.each do |item| %>
				<tr>
					<td align="center"><%= item.product_sku %></td>
					<td align="center"><%= item.product_name %></td>
					<td align="center"><%= item.quantity %></td>
					<td align="center">￥<%= format "%.2f", item.price %></td>
					<td align="center">￥<%= format "%.2f", item.subtotal %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br />
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
        	<tbody>
				<tr>
					<td> 商品数量总计：<%= @order.quantity %> 件 </td>
					<td align="right"><%= link_to image_tag("/images/back_to_cart_btn.gif"), "/cart/show" %></td>
				</tr>
          	</tbody>
		</table>
		<div class="order_comment f-black-12">
			<b>您需要附加说明吗？</b><br />
			<textarea rows="4" name="memo"></textarea>
		</div>
 		<h1 class="f-black-12"><img src="/images/msl_couponuse.gif" width="99" height="29" /></h1>              
 		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="fpnormal f-black-12">
        	<tbody>
				<tr>
          			<td>
						<b>优惠券</b>
						<span id="coupon_code_show" style="display:none;"></span>
						<input type="text" name="coupon_code" id="coupon_code" size="50" />
						<a id="coupon_button" href="#" onclick="javascript:check_coupon(); return false;"><img src="/images/use_discount.gif" width="120" height="30" /></a>
          			</td>
          		</tr>
        	</tbody>
		</table>
	</div>
	<div id="totalprice" class="f-black-12-b">
		商品金额总计： <span class="f-blue-20-Ar-b">￥<%= format "%.2f", @order.total %></span> 
		优惠券抵扣： <span class="f-gren-20-Ar-b">-￥<span id="discount">0.00</span></span>
		运费：      <span class="f-gren-20-Ar-b">+￥ <%= format "%.2f", @order.carriage %></span>
	</div>
	<div class="f-black-20-hei lastprice">
		订单金额： <span class="f-red-12-b">￥</span><span id="total" class="f-red-30-Ar-b"><%= format "%.2f", @order.pay_price %></span>
	</div>
	<div align="center">
		<a href="#" onclick="javascript:next_step(); return false;"><img src="/images/next-step_btn.gif" width="145" height="45" /></a>
	</div>
	<% end %>
</div>
<div class="clearit"></div>
