<div class="clearit bj-sp10"></div>
<div id="mlist_detail">
	<%= form_tag 'create', :id => :create_order do %>
	<div class="order_box">
		<div id="address_div">
	    	<h1 class="f-black-12">
				<img src="/images/msl_userinfo.gif" width="99" height="25" />
			</h1>
			<div id="div_address_selected">
				<%= @order.fullname %>,&nbsp;&nbsp;
				<%= @order.province %>&nbsp;&nbsp;
				<%= @order.city %>&nbsp;&nbsp;
				<%= @order.region %>&nbsp;&nbsp;
				<%= @order.address %>&nbsp;&nbsp;
				<%= @order.phone %>&nbsp;&nbsp;
				<%= @order.zip %>
			</div>
		</div>
		<div id="pay_div">
			<h1 class="f-black-12">
				<img src="/images/msl_payselect.gif" width="97" height="27" />
			</h1>
			<div id="div_pay_selected"><%= @order.pay_type %></div>
		</div>
		<h1 class="f-black-12"><img src="/images/msl_pdlist.gif" width="99" height="29" /></h1>                           
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="order_table">
        	<tbody>
				<tr bgcolor="#ebebeb" class="f-black-12-b">
					<td width="20%" align="center">商品编号</td>
					<td align="center">商品名称</td>
					<td width="10%" align="center">数量</td>
					<td width="10%" align="center">单价</td>
					<td width="10%" align="center">小计</td>
          	    </tr>
				<% @order.order_items.each do |item| %>
				<tr>
					<td align="center"><%= link_to item.product_sku, product_path(item.product), :target => "_blank" %></td>
					<td align="center"><%= link_to item.product.cn_name , product_path(item.product), :target => "_blank"%></td>
					<td align="center"><%= item.quantity %></td>
					<td align="center">￥<%= format "%.2f", item.price %></td>
					<td align="center">￥<%= format "%.2f", item.subtotal %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br />
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
        	<tbody>
				<tr>
					<td> 商品数量总计：<%= @order.quantity %> 件 </td>
				</tr>
          	</tbody>
		</table>
		<div class="order_comment f-black-12">
			<b>附加说明</b><br />
			<%= @order.memo %>
		</div>
 		<h1 class="f-black-12"><img src="/images/msl_couponuse.gif" width="99" height="29" /></h1>              
 		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="fpnormal f-black-12">
        	<tbody>
				<tr>
          			<td>
						<b>优惠券</b>
						<%= @order.coupon_code %>
          			</td>
          		</tr>
        	</tbody>
		</table>
	</div>
	<div id="totalprice" class="f-black-12-b">
		商品金额总计： <span class="f-blue-20-Ar-b">￥</span> 
		优惠券抵扣： <span class="f-gren-20-Ar-b">-￥</span> 
		<!-- 积分抵扣：     <span class="f-gren-20-Ar-b">-￥</span>  -->
		运费：      <span class="f-gren-20-Ar-b">+￥ <%= @order.total >= 200 ? "0.00" : "20.00" %></span>
	</div>
	<div class="f-black-20-hei lastprice">
		订单金额： <span class="f-red-12-b">￥</span><span class="f-red-30-Ar-b"><%= format "%.2f", @order.pay_price %></span>
	</div>
	<div align="center">
		<% if @order.status == '等待付款' %>
		<a href="#">网上付款</a>
		<a href="#">取消订单</a>
		<% end %>
	</div>
	<% end %>
</div>
<div class="clearit"></div>

