<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @order.no %>
</p>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Order at:</b>
  <%= @order.order_at %>
</p>

<p>
  <b>Delivery at:</b>
  <%= @order.delivery_at %>
</p>

<p>
  <b>Address:</b>
  <%= @order.fullname %>/<%= @order.address %>/<%= @order.province %>/<%= @order.city %>/<%= @order.region %>
</p>

<p>
<% @order.order_items.each do |item| %>
	<%= item.product_name %>:<%= item.price.to_f %>*<%= item.quantity %>=<%= item.subtotal.to_f %><br />
<% end %>
</p>

<%= link_to '返回', orders_path %>
<%= link_to '支付', :action => 'check_out', :controller => 'orders', :id => @order.id %>
