<%= render 'admin/header' %>
<div id="my_acinfo">
  <%= render 'admin/userside' %>
  <div id="ac_right">
	<ul id="pd_infomenu">
		<li class="on">所有提货券</li>
		<li><%= link_to '查看提货券', :action => 'show' %></li>
		<li><%= link_to '创建提货券', new_ticket_path %></li>
	</ul>
	<div class="clearit"></div>
	<div id="ac_more_detail">
		<%= form_tag '/tickets', {:id => 'tickets', :method => :get} do %>
		编码：<input type="text" name="prefix" style="width: 120px;" value="<%= params[:prefix] %>" />&nbsp;&nbsp;
		状态：
		<select name="usable">
			<option value="">全部</option>
			<option value="1"<%= params[:usable] == "1" ? " selected" : "" %>>未使用</option>
			<option value="0"<%= params[:usable] == "0" ? " selected" : "" %>>已使用</option>
		</select>&nbsp;&nbsp;
		<a href="#" onclick="$('#tickets').submit();"><img src="/images/confirm_btn.gif"></a>&nbsp;&nbsp;
		<a href="#" onclick="$('#tickets').attr('action','/tickets/export').submit();"><img src="/images/export_btn.png"></a>
		<% end %>
		<div class="bj-sp10"></div>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
	        	<tbody>
	                <tr bgcolor="#f0f0f0" class="f-black-12-b">
	                    <td height="30" width="150">编号</td>
	                    <td>产品名称</td>
	                    <td width="150">创建时间</td>
	                    <td width="50">已使用</td>
	                </tr>
				<% @tickets.each do |ticket| %>
			 	<tr>
				    <td height="30"><%= ticket.code %></td>
					<td><%= ticket.product.cn_name %></td>
				    <td><%= ticket.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
				    <td><%= ticket.usable ? "否" : "是" %></td>
			  	</tr>
				<% end %>
	            </tbody>
		</table>
	</div>
	<div class="clearit"></div>
	<div class="list_num_top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td align="right">
			</td>
		    <td align="right" width="600">
				<%= paginate @tickets %>
			</td>
		  </tr>
		</table>
	</div>
  </div>
</div>
