<%= form_for(@wiki_content) do |f| %>
  <% if @wiki_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki_content.errors.count, "error") %> prohibited this wiki_content from being saved:</h2>

      <ul>
      <% @wiki_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
