<div class="crumb">
    <img src="/images/ico9.gif" align="absbottom"><a class="snf3" href="/">首页</a>
    ＞<a href="#" class="snf1">会员登陆</a>
</div>
<div class="login">
    <div class="left">
        <div class="title">
            <a class="snf6">会员登陆</a>
        </div>
        <div class="regbox">
            <%= render 'devise/alert' %>
			      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:method => :post, :name => :new_user}) do |f| %>
                
                <table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td width="75px" height="35" align="right" valign="middle">
                              <%= f.label :email %>：
                            </td>
                            <td width="210px" align="left" valign="middle">
                            	<%= f.text_field :email, :class => :areabox, :id => :loginName %>
                            </td>
                            <td width="315px" align="left">
                              请输入您的Email邮箱地址登陆
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="right" valign="middle">
                              <%= f.label :password %>：
                            </td>
                            <td align="left" valign="middle">
                            	<%= f.password_field :password, :class => :areabox, :id => :loginPassword %>
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="left" valign="middle">
                               
                            </td>
                            <td colspan="2" align="left" valign="middle">
                            	<%= f.check_box :remember_me, :id => :flagLoginSelf %>记住我                               
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td height="35" align="left" valign="middle">
                                
                            </td>
                            <td align="left" valign="middle">
                                <a href="javascript:document.new_user.submit();">DENGLU</a>
                                <%= link_to "忘记密码?", new_password_path(resource_name), :class => :snf1 %>
                            </td>
                            <td align="left">
                                <%= link_to "我要注册", new_registration_path(resource_name), :class => :snf3 %>
                            </td>
                        </tr>
                        <tr>
                            <td height="40" colspan="3" class="msg1">
                                有任何疑问请点击<a target="_blank" class="snf1" href="#">帮助中心</a>
                                或<a target="_blank" class="snf1" href="#">在线客服</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
    <div class="right">
        
        <br />
        <br />
		    
    </div>
</div>
