<p id="notice"><%= notice %></p>

<p>
  <b>Product sku:</b>
  <%= @product_attribute.product_sku %>
</p>

<p>
  <b>Name:</b>
  <%= @product_attribute.name %>
</p>

<p>
  <b>Short:</b>
  <%= @product_attribute.short %>
</p>

<p>
  <b>Description:</b>
  <%= @product_attribute.description %>
</p>

<p>
  <b>Value:</b>
  <%= @product_attribute.value %>
</p>


<%= link_to 'Edit', edit_product_attribute_path(@product_attribute) %> |
<%= link_to 'Back', product_attributes_path %>
