<div class="crumb">
    <a href="/">首页</a> 
    &gt;<span id="dangqian1">管理后台</span>
    &gt;<span style="color: rgb(151, 0, 5);" id="dangqian"></span>
</div>
<%= render 'devise/userside' %>
<%= link_to "添加", :action => 'new' %>
<table>
  <tr>
    <th>省</th>
    <th>城市</th>
    <th>区</th>
    <th>地址</th>
    <th>邮编</th>
    <th>电话</th>
    <th>姓名</th>
    <th>默认地址</th>
    <th></th>
    <th></th>
  </tr>

<% current_user.addresses.each do |address| %>
  <tr>
    <td><%= address.province %></td>
    <td><%= address.city %></td>
    <td><%= address.region %></td>
    <td><%= address.detail %></td>
    <td><%= address.zip %></td>
    <td><%= address.phone %></td>
    <td><%= address.name %></td>
  	<td><%= address.default ? "是" : "否" %></td>
    <td><%= link_to '修改', :action => :edit, :id => address.id %></td>
    <td><%= link_to '删除', address, :method => :delete %></td>
  </tr>
<% end %>
</table>
