<%= link_to "添加", :action => 'new' %>
<table>
  <tr>
    <th>省</th>
    <th>城市</th>
    <th>区</th>
    <th>地址</th>
    <th>邮编</th>
    <th>电话</th>
    <th>姓名</th>
    <th>默认地址</th>
    <th></th>
    <th></th>
  </tr>

<% current_user.addresses.each do |address| %>
  <tr>
    <td><%= address.province %></td>
    <td><%= address.city %></td>
    <td><%= address.region %></td>
    <td><%= address.detail %></td>
    <td><%= address.zip %></td>
    <td><%= address.phone %></td>
    <td><%= address.name %></td>
	<td><%= address.default %></td>
    <td><%= link_to '修改', :action => :edit, :id => address.id %></td>
    <td><%= link_to '删除', :action => :destroy, :id => address.id %></td>
  </tr>
<% end %>
</table>