<p id="notice"><%= notice %></p>

<p>
  <b>Order no:</b>
  <%= @order_item.order_no %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_item.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @order_item.price %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @order_item.subtotal %>
</p>

<p>
  <b>Product name:</b>
  <%= @order_item.product_name %>
</p>

<p>
  <b>Product sku:</b>
  <%= @order_item.product_sku %>
</p>

<p>
  <b>Status:</b>
  <%= @order_item.status %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
