<%= render 'admin/header' %>
<div id="my_acinfo">
  <%= render 'admin/userside' %>
  <div id="ac_right">
	<ul id="pd_infomenu">
		<li class="on">所有分类</li>
	</ul>
	<div class="clearit"></div>
	<div id="ac_more_detail">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
	        	<tbody>
	                <tr bgcolor="#f0f0f0" class="f-black-12-b">
	                    <td height="30" width="15">ID</td>
	                    <td width="65">名称</td>
	                    <td width="100">缩写</td>
						<td width="65">父分类</td>
	                    <td width="50" valign="middle" bgcolor="#f0f0f0" align="center">操作</td>
	                </tr>
				<% @categories.each do |category| %>
			 	<tr>
				    <td height="30"><%= category.id %></td>
				    <td><%= link_to category.name, category_path(category), :class => 'f-red-12' %></td>
				    <td><%= category.short %></td>
				    <td><%= category.category ? link_to(category.category.name, category_path(category.category), :class => 'f-red-12') : "" %></td>
					<td>
					</td>
			  	</tr>
				<% end %>
	            </tbody>
		</table>
	</div>
	<div class="clearit"></div>
	<div class="list_num_top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td align="right">
			</td>
		    <td align="right" width="600">
				<%= paginate @categories %>
			</td>
		  </tr>
		</table>
	</div>
  </div>
</div>
<div class="clearit"></div>

