<style type="text/css"> 
.zt110708_wrap{}
.zt110708_wrap .ztbanner{}
.zt110708_wrap .zt_pd_title{padding:15px 0;}
.zt110708_wrap .zt_attention{padding:15px 0;}
</style>
<!--zt-->
<div class="zt110708_wrap">
	<div class="ztbanner">
		<img src="/images/110708_banner.gif" width="950" height="594" usemap="#planetmap" />
		<map name="planetmap">
		  <area shape="rect" coords="179,541,286,583" href="/users/sign_up" alt="立即注册" title="立即注册" />
		  <area shape="rect" coords="475,541,615,583" href="/category/0-0-0-0-0-0-0-0-0-0" alt="马上开始选购" title="马上开始选购" />
		  <area shape="rect" coords="804,541,942,583" href="/category/0-0-0-0-0-0-0-0-0-0" alt="马上开始选购" title="马上开始选购" />
		</map>
	</div> 
 	<div class="zt_pd_title">
		<img src="/images/110708_pd_sortA.gif" width="950" height="40"/>
	</div>
	<div class="goodsResult">
		<ul class="pagePicView">
			<li class="one">
			      <%= render :partial => "home/product", :object => Product.find(40) %>
			</li>
			<li>
			      <%= render :partial => "home/product", :object => Product.find(16) %>
			</li>
			<li>
			      <%= render :partial => "home/product", :object => Product.find(4) %>
			</li>
			<li>
			      <%= render :partial => "home/product", :object => Product.find(5) %>
			</li>
		</ul>
	</div>
	<div class="clearit"></div>
		<div class="zt_pd_title"><img src="/images/110708_pd_sortB.gif" width="950" height="40" />
	</div>
	<div class="goodsResult">
		<ul class="pagePicView">
			<li class="one">
			      <%= render :partial => "home/product", :object => Product.find(3) %>
			</li>
			<li>
			      <%= render :partial => "home/product", :object => Product.find(37) %>
			</li>
			<li>
			      <%= render :partial => "home/product", :object => Product.find(14) %>
			</li>
			<li>
			      <%= render :partial => "home/product", :object => Product.find(6) %>
			</li>
		</ul>
	</div>
	<div class="clearit"></div>
	<div class="zt_attention">
		<img src="/images/110708_zt_attention.gif" width="950" height="148" />
	</div>
</div>
<!--zt-->