<link rel="stylesheet" href="/javascripts/jwysiwyg/jquery.wysiwyg.css" type="text/css"/>
<script type="text/javascript" src="/javascripts/jwysiwyg/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/javascripts/jwysiwyg/controls/wysiwyg.image.js"></script>
<script type="text/javascript" src="/javascripts/jwysiwyg/controls/wysiwyg.table.js"></script>
<script type="text/javascript" src="/javascripts/jwysiwyg/controls/wysiwyg.link.js"></script>
<script type="text/javascript" src="/javascripts/jwysiwyg/plugins/wysiwyg.fileManager.js"></script>

<script type="text/javascript">
(function ($) {
	$(document).ready(function () {
		$('.wysiwyg').wysiwyg({
			autoGrow: true,
			maxHeight: 600,
			controls: {
				"html": {visible: true}
			},
		});
	});
})(jQuery);

function insertPic(url){
	$('.wysiwyg').wysiwyg('insertImage', url);
}
</script>

<div id="error_explanation">
  <ul>
  <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% form_for @product, :validate => true, :html => { :multipart => true, :id => :product_form } do |f| %>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfoL" align="center">
	<tbody>
		<tr>
			<td height="30" width="70" class="tcenter">图片</td>
			<td><%= f.file_field  :pic_main %></td>
		</tr>
		<tr>
			<td height="30" class="tcenter">酒标</td>
			<td><%= f.file_field  :pic_label %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">SKU</td>
		    <td><%= f.text_field :sku %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">产品名称</td>
		    <td><%= f.text_field :name %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">中文名称</td>
		    <td><%= f.text_field :cn_name %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">价格</td>
		    <td><%= f.text_field :price %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">市场价</td>
		    <td><%= f.text_field :indication_price %></td>
		</tr>
		<tr>
		    <td height="30">状态</td>
		    <td><%= f.select :status, @statuses.map {|s| [ s.name, s.name ] } %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">库存</td>
		    <td><%= f.text_field :count %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">已售</td>
		    <td><%= f.text_field :sold_count %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">是否显示</td>
		    <td><%= f.check_box :visiable %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">促销</td>
		    <td><%= f.check_box :promo %></td>
		</tr>
		<tr><td height="30" colspan="2" class="tcenter"><b><%= link_to '编辑属性', :action => :index, :controller => :product_attribute_defines %></b></td></tr>
		<% @attributes.each do |attribute| %>
		<tr>
			<td height="30"><%= attribute.name %></td>
			<td>
			<% if attribute.fix %>
				<% allAttr = ProductAttributeValue.where(:short => attribute.short) %>
				<% allAttr.each do |value| %>
				<input type="hidden" value="<%= attribute.name %>" name="product_attribute[][name]" />
				<input type="checkbox" name="product_attribute[][value]" <%= @product.has_attribute(attribute.short, value.value) ? "checked" : "" %> value="<%= value.value %>" /><%= value.value %>
				<% end %>
			<% else %>
			<input type="hidden" value="<%= attribute.name %>" name="product_attribute[][name]" />
			<input type="text" name="product_attribute[][value]" value="<%= @product.get_attribute_value(attribute.short) %>" /><br />
			<% end %>
			</td>
		</tr>
		<% end %>
	  <tr><td height="30" colspan="2" class="tcenter"><b><%= link_to '编辑属性', :action => :index, :controller => :product_attribute_defines %></b></td></tr>
	</tbody>
</table>

<h2>详细说明</h2>
<%= f.text_area :memo, :size => "120x40", :class => "wysiwyg" %>

<div class="bj-sp10"></div>
<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
	    	<td width="100%" valign="middle" align="middle">
	        	<a href="javascript:$('#product_form').submit();"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
	        </td>
	    </tr>
	</tbody>
</table>
<% end %>
