<div class="listsearch">
  <!-- 种类 选择 -->
  <div class="title">
      <img src="/images/icon_type %>.gif" align="absbottom">&nbsp;种类：
  </div>
  <div class="main">
      <ul id="type">
          <li>
              <a class="<%= checked?(0, 7) ? 'searchoff' : 'searchon' %>" href="<%= search_path 0, 7 %>"> 不限</a>
          </li>
					<% values = ProductAttributeValue.where(:short => :type) %>
					<% values.each do |value|%>
					<li>
						<a class="<%= checked?(value.id, 7) ? 'searchoff' : 'searchon' %>" href="<%= search_path value.id, 7 %>"> <%= value.value %></a>
					</li>
					<% end %>
      </ul>
  </div>
  
  <!-- 价格 选择 -->
  <div class="title">
      <img src="/images/icon_price %>.gif" align="absbottom">&nbsp;价格范围：
  </div>
  <div class="main">
      <ul id="price">
        <li>
            <a class="<%= checked?(0, 8) ? 'searchoff' : 'searchon' %>" href="<%= search_path 0, 8 %>"> 不限</a>
        </li>
        <% values = ProductAttributeValue.where(:short => :price) %>
        <% values.each do |value|%>
          <li>
            <a class="<%= checked?(value.id, 8) ? 'searchoff' : 'searchon' %>" href="<%= search_path value.id, 8 %>"> <%= value.value %></a>
          </li>
      	<% end %>
      </ul>
  </div>
  
  <!-- 产地 选择 -->
  <div class="title">
      <img src="/images/icon_country %>.gif" align="absbottom">&nbsp;产地：
  </div>
  <div class="main">
      <ul id="country">
          <li>
              <a class="<%= checked?(0, 5) ? 'searchoff' : 'searchon' %>" href="<%= search_path 0, 5 %>"> 不限</a>
          </li>
          <% values = ProductAttributeValue.where(:short => :country) %>
          <% values.each do |value|%>
          <li>
            <a class="<%= checked?(value.id, 5) ? 'searchoff' : 'searchon' %>" href="<%= search_path value.id, 5 %>"> <%= value.value %></a>
          </li>
          <% end %>
      </ul>
  </div>
  
  <!-- 葡萄品种 选择 -->
  <div class="title">
      <img src="/images/icon_grape %>.gif" align="absbottom">&nbsp;葡萄品种：
  </div>
  <div class="main">
      <ul id="grape">
          <li>
              <a class="<%= checked?(0, 0) ? 'searchoff' : 'searchon' %>" href="<%= search_path 0, 0 %>"> 不限</a>
          </li>
          <% values = ProductAttributeValue.where(:short => :grape) %>
          <% values.each do |value|%>
          <li>
            <a class="<%= checked?(value.id, 0) ? 'searchoff' : 'searchon' %>" href="<%= search_path value.id, 0 %>"> <%= value.value %></a>
          </li>
          <% end %>
      </ul>
  </div>

</div>
