<% if product.promo %>
<div class="flag"><img src="/images/flag-promotion.png" width="62" height="62" /></div>
<% end %>
<% if product.count <= 0 %>
<div class="flag"><img src="/images/flag-soldout.png" width="62" height="62" /></div>
<% end %>
<dl>
	<dd class="grImg">
		<%= link_to (image_tag product.pic_main.url(:thumb), :width => "224", :height => "224", :title => product.name, :alt => product.cn_name), product_path(product) %>
	</dd>
	<dt class="wine_word">
	  <%= link_to product.cn_name, product_path(product), {:class => 'f-black-14-YaHei'} %>
	</dt>
	<dt class="grPrice">
	  <em class="f-grey-12">市场价: <%= format "%.2f", product.indication_price %>元</em>
	<% if product.promo_price > 0 %>
	<em class="f-grey-12">会员价: <%= format "%.2f", product.price %>元</em>
	<% end %>
	
	</dt>
  <dt class="grPrice">
	<% if product.promo_price > 0 %>
	<em><span class="f-red-12">促销价: </span><span class="f-grey-20-Arial"><%= format "%.2f", product.promo_price %></span><span class="f-red-12">元</span></em>
	<% else %>
	<em><span class="f-red-12">会员价: </span><span class="f-grey-20-Arial"><%= format "%.2f", product.price %></span><span class="f-red-12">元</span></em>
	<% end %>
	<% if product.count > 0 %>
		<a href="#" onclick="add_to_cart(<%= product.id %>, 1)"><%= image_tag('/images/go-off.gif', :height => '23', :width => '23', :title => '立即购买', :style => 'float:right;') %></a>
	<% else %>
		<span class="f-grey-20-Arial" style="float:right;">已售完</span>
	<% end %>
   	</dt> 
</dl>