
<!-- 主要产品属性 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="255"><img src="/images/pd_detail_img.gif" width="255" height="350" /></td>
    <td id="pd_attribute"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="262">R<%= @product.product_attributes.find_by_short("type").value %></td>
        <td><%= @product.product_attributes.find_by_short("country").value %></td>
      </tr>
      <tr>
        <td class="colSTa"><%= @product.product_attributes.find_by_short("vintage").value %></td>
        <td><%= @product.product_attributes.find_by_short("region").value %></td>
      </tr>
      <tr>
        <td class="colSTa"><%= render :partial => "attribute_value", :collection => @product.product_attributes.find_all_by_short("use_for") %></td>
        <td><%= @product.product_attributes.find_by_short("made_by").value %></td>
      </tr>
      <tr>
        <td>清亮玫瑰红</td>
        <td><%= @product.product_attributes.find_by_short("level").value %></td>
      </tr>
      <tr>
        <td class="colSTc">10℃-16℃</td>
        <td class="colSTa"><%= @product.product_attributes.find_by_short("abv").value %>（％Vol）</td>
      </tr>
      <tr>
        <td class="colSTb">
          <%= render :partial => "attribute_value", :collection => @product.product_attributes.find_all_by_short("grape") %></td>
        <td><%= @product.product_attributes.find_by_short("vol").value %></td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<!-- 主要产品说明 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="f-black-14"><strong><br />
      马蒂尔伯爵白起泡葡萄酒：</strong><br />
      入口十分顺滑是马蒂尔伯爵白起泡葡萄酒不可取代的特征。与新鲜的浆果味道相得益彰，加上清爽的口感，更有韵味，令人回味无穷。在抢购平台中，马蒂尔伯爵白起泡葡萄酒以超低的价格示人，必将性价比发挥到了极致。<br />
      <br />
      <strong>酒庄概况 </strong><br />
      卡维留里酒庄位于塞奇雅（Secchia）和帕纳罗（Panaro）河之间，卡维留里（Cavicchioli）酒庄在摩德纳（Modena）省附近城镇拥有许多葡萄种植园，并在种植朗布罗斯（Lambrusco）的葡萄园还建立了他们自己的酒厂。 在酒庄几公里外，种植着品质最佳朗布罗斯索拉和朗布罗斯格斯巴两个葡萄品种。酒庄经过几十年的发展和创新，已经研发和生产出意大利最好的朗布罗斯品种的葡萄酒，并且产品销往全球。<br /></td>
    <td width="300" align="right"><img src="images/pd_detail_img01.gif" width="261" height="377" /></td>
  </tr>
</table>
<br />
<!-- 主要产品说明 第二段 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="300"><img src="/images/pd_detail_img02.gif" width="275" height="330" /></td>
    <td class="f-black-14"><strong><br />
      来自意大利产区——艾米利亚(Emilia Romagna)：</strong><br />
      艾米利亚-罗马涅大区位于意大利连接北部和中部的中间地带，是意大利第六大行政区。大区南部为丘陵地带，北部为平原。气候呈现一定的次大陆性气候特征，冬季较冷，夏季炎热。大区下设8个省（即：波洛尼亚、莫德纳、帕尔玛、费拉拉、拉维纳、雷焦艾米利亚、弗利、皮亚琴察）全区341个大小市镇。该区土壤肥沃，是意大利重要的农业区。<br />
      <br />
      <strong>原装原瓶，纯进口佳酿 </strong><br />
      只销售原装纯进口佳酿，左图出入境检验检疫证书中，可以清晰的看到数款来自意大利的美味琼浆。</td>
  </tr>
</table>

<!-- 引用 葡萄说明 -->
<div class="pd_section">
  <div class="insection">
  <h1>梅洛葡萄</h1>

 此款佳酿拥有迷人的红宝石色，带有石榴石光泽，红色水果味浓郁(樱桃和黑醋栗)，并带有一丝香料味 (胡椒)，入口果香持久，愉悦的香气贯穿整个品酒过程，单宁平衡。是一款圆润，令人愉悦，优雅，余味悠长的波尔多干红。
  </div>
</div>

<!-- 引用 酒庄/酒厂/品牌 介绍 -->
<div class="pd_section">
  <div class="insection">
  <h1>智利翠岭庄园</h1>

 Angles家族诞生于南隆河一个名为Jonquerettes的小村庄，其历史可追溯到1630年。圣泉酒庄于1985年正式成立，历经几代人的辛勤耕耘，终于把酒庄提升到了如今的高度。该酒庄的高端酒甚至得到了著名酒评家Robert Parker的青睐，给出了90以上的评分。

  </div>
</div>
<!-- 引用 评级说明 -->
<div class="pd_section">
  <div class="insection">
  <h1>得奖信息</h1>

  ·拉格内城堡干红葡萄酒2009年份获得2010年度巴黎农业大奖赛铜奖。

  <br />
  ·拉格内城堡干红葡萄酒2009年份获得2010年度巴黎农业大奖赛铜奖。 
  </div>
</div>
<!-- 引用 产地介绍 -->
<div class="pd_section">
  <div class="insection">
  <h1>智利卡萨不兰卡山谷</h1>

  此款佳酿拥有迷人的红宝石色，带有石榴石光泽，红色水果味浓郁(樱桃和黑醋栗)，并带有一丝香料味 (胡椒)，入口果香持久，愉悦的香气贯穿整个品酒过程，单宁平衡。是一款圆润，令人愉悦，优雅，余味悠长的波尔多干红。
  </div>
</div>


