<div class="<%= cycle('box1', 'box2', 'box3', 'boxlast') %>" >
  <table height="85" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
      <tr>
        <td valign="top" align="left" width="35">       
        
        </td>
        <td align="left" width="110">          
        	<%= link_to image_tag(product.pic, :height => 180, :width => 110, :border => 0, :alt => product.cn_name), product_path(product) %>
        </td>
        <td align="left" width="35">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td height="21" align="left" colspan="3">
        	<%= link_to product.cn_name, product_path(product) %>
        </td>
      </tr>
      <tr>
        <td height="21" align="left" colspan="3">
        	<%= link_to product.name, product_path(product) %>
        </td>
      </tr>
      <tr>
        <td height="21" align="left" colspan="3">
          <span class="snf8 delline">市场价：<%= format ("%.2f",product.indication_price) %>元</span>
        </td>
      </tr>
      <tr>
        <td height="21" align="left" colspan="3">
          12doo价：<span class="snf6"><%= format ("%.2f",product.price) %>元</span>
        </td>
      </tr>
      <tr>
        <td height="30" align="left" colspan="3">
          <a href="javascript:goodsDetail.showCartBox1('5');"><img border="0" src="/images/menu1(1).gif"></a>&nbsp;&nbsp;<a href="javascript:goodsDetail.addFavorite('5');"><img border="0" src="/images/menu2(1).gif"></a>
        </td>
      </tr>
      <tr>
        <td valign="middle" height="26" bgcolor="#f5f5f5" align="left" colspan="3">
          已销售<%= product.sold_count %>瓶
        </td>
      </tr>
    </tbody>
  </table>
</div>

