<!-- 主要产品属性 -->
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>

    <td id="pd_attribute">
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		  	<tbody>
	        <tr>
	          <td width="220"><span>酒类型：&nbsp;&nbsp;</span><%= @product.get_attribute_value("type") %></td>
			      <td><span>葡萄品种：&nbsp;&nbsp;</span><%= @product.get_attribute_value("grape") %></td>
	        </tr>
	        <tr>
			      <td><span>原产国：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("country") %></td>
	          <td><span>葡萄产区：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("region") %></td>
	        </tr>
			    <tr>
				    <td><span>生产商：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("made_by") %></td>
				    <td><span>适用场合：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("use_for") %></td>
			    </tr>
	        <tr>
	          <td>
	        	  <% if @product.get_attribute_value("abv") == "" %>
	        	    &nbsp;
	        	  <% else %>
	        	    <span>酒精度：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("abv") %>%vol
	        	  <% end %>
		    	  </td>
	          <td>
	            <% if @product.get_attribute_value("vol") == "" %>
		      	    &nbsp;
		      	  <% else %>
		      	    <span>装瓶容量：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("vol") %>ml
		      	  <% end %>
		    	  </td>
	        </tr>
	        <tr>
		    	  <td>
	            <% if @product.get_attribute_value("level") == "" %>
		      	    &nbsp;
		      	  <% else %>
		      	    <span>酒等级：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("level") %>
		      	  <% end %>
	          </td>		
	          <td>    	  
		      	  <% if @product.get_attribute_value("vintage") == "" %>
		      	    &nbsp;
		      	  <% else %>
		      	    <span>葡萄年份：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("vintage") %>
		      	  <% end %>
		    	  </td>
	        </tr>
		    </tbody>
	    </table>
	  </td>
	  <td id="pd_label">
	   
		  <%= image_tag @product.pic_label.url(:medium), :title => @product.name, :alt => @product.cn_name %>
	  </td>
  </tr>
</table>
<%= raw @product.memo %>
