<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">所有产品</li>
			<li><%= link_to "添加产品", :action => :new, :controller => :products %></li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
        <tbody>
          <tr bgcolor="#f0f0f0" class="f-black-12-b">
            <td height="30" width="30">ID</td>
			<td>分类</td>
            <td>中文名称(SKU)</td>
            <td width="50">单价</td>
            <td width="100">售出/库存</td>
            <td width="100">状态</td>
            <td width="50">操作</td>
          </tr>
			<% @products.each do |product| %>
				 	<tr>
				 	  <td height="30"><%= product.id %></td>
				<td height="30"><%= product.category.name %></td>
  			    	<td><%= link_to product.cn_name, product, :class => 'f-red-12', :target => :_blank %>(<%= product.sku %>)</td>
				    <td><%= format "%.2f", product.price %></td>
						<td><%= product.sold_count %>&nbsp;/&nbsp;<%= product.count %></td>
						<td><%= product.status %>/<%= (product.visiable ? "可见" : "隐藏") %>/<%= (product.promo ? "推荐" : "正常") %></td>
						<td>
							<%= link_to '[编辑]', edit_product_path(product), :class => 'f-red-12' %>
						</td>
				  </tr>
					<% end %>
        </tbody>
		</table>
			
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @products %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>
