<!-- 取消上边的页面位置指示
<div class="crumb">
    <img src="/images/ico9.gif" align="absbottom"><a style="color:#383838;" href="#">首页</a>
    ＞ <a href="#" style="color:#970005;">买酒荐酒</a>
    <span class="snf1">
	</span>
</div> -->

<div align="left">
    <div id="indexInfo">
    </div>
    <div class="listwine">
        <div class="left">
            <%= render 'products/listsearch' %>         
            <div class="searchbar">
                找到 &nbsp;&nbsp;<a class="snf3"><span id="goodsTotalNu"><%= @products.total_entries %></span></a>&nbsp;&nbsp;件商品符合您的选择条件<span id="allSeach"></span>
            </div>
            
            <!-- 以下是修改列表方式和分页标签，上半部分 -->
            
            <div class="pailie">
                <table width="349" height="28" border="0" cellpadding="3" cellspacing="0" style="float:left">
                    <tbody>
                        <tr>
                            <td width="68" align="left" valign="middle">
                                显示方式：
                            </td>
                            <td width="42" align="left" valign="middle">
                                <a href="">
                                	<img id="chooseDataSortShow1" src="/images/ico7a.gif">
								                </a>
								                <a href="">
									                <img id="chooseDataSortShow0" src="/images/ico8b.gif" border="0">
								                </a>
                            </td>
                            <td width="40" align="left" valign="middle">
                                排序：
                            </td>
                            <td width="110" align="left" valign="middle">
                                <!-- 这部分改为：价格，销量，两个排序按钮即可；默认为点击数从高到低 -->
                                <select name="select" style="margin-bottom:4px;z-index=1;width:100px;" id="sortSelect" onchange="javascript:goodsList.sortSelectChange();">
                                    <option selected="" value="-1">默认排序</option>
                                    <option value="markNum_desc">评分由高到低</option>
                                    <option value="clickNum_desc">点击数高到低</option>
                                    <option value="price_asc">价格低到高</option>
                                    <option value="price_desc">价格高到低</option>
                                    <option value="commentNum_desc">评论数由多到少</option>
                                    <option value="onLineTime_asc">上架时间由近到远</option>
                                    <option value="saleNum_desc">销售数高到低</option>
                                </select>
                            </td>
                            <td width="101" align="left" valign="middle">
                                <a href="javascript:goodsList.chooseSort('price_asc');">
                                	<img id="priceOrderImg" src="/images/ico9b.gif" alt="按价格从低到高排序" border="0">
								                </a>
								                <a href="javascript:goodsList.chooseSort('commentNum_desc');">
									                <img id="renqiOrderImg" src="/images/ico10b.gif" alt="按人气从高到低排序" border="0">
								                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pagebox2">
                    <div class="page" id="pageInfo1">
                    	<%= will_paginate @products, :params => {:controller => "category", :action => nil }, :inner_window => 1, :outer_window => 0 %>
                    </div>
                </div>
            </div>
            <div class="winebox" id="winebox">
            	<% @products.each do |product| %>
				          <div class="winebox1"2
                    <table height="85" cellspacing="0" cellpadding="0" border="0" align="center" width="178">
                        <tbody>
                            <tr>
                                <td valign="top" align="left" width="34">
                                </td>
                                <td align="left" width="110">
                                    <a href="/products/<%= product.id  %>">
                                    	<img height="180" border="0" width="110" src="/pics/<%= product.sku %>/<%= product.pic %>">
									              </a>
                                </td>
                                <td align="left" width="34">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td height="21" align="left" colspan="3">
                                	<%= link_to product.cn_name, :action => :show, :controller => :products, :id => product.id %>
                                </td>
                            </tr>
                            <tr>
                                <td height="21" align="left" colspan="3">
                                	<%= link_to product.name, :action => :show, :controller => :products, :id => product.id %>
                                </td>
                            </tr>
                            <tr>
                                <td height="21" align="left" colspan="3">
                                    <span class="snf8 delline">市场价：<%= format ("%.2f",product.indication_price) %>元</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="21" align="left" colspan="3">
                                    会员价：<span class="snf6"><%= format ("%.2f",product.price) %>元</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" align="left" colspan="3">
                                    <a href="javascript:goodsDetail.showCartBox1('5');"><img border="0" src="/images/menu1(1).gif"></a>&nbsp;&nbsp;<a href="javascript:goodsDetail.addFavorite('5');"><img border="0" src="/images/menu2(1).gif"></a>
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle" height="25" bgcolor="#f5f5f5" align="left" colspan="3">
                                    已销售<%= product.sold_count %>瓶
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
				      <% end %>
            </div>
            <div id="pagebox2" style="width:700px;">
                <div class="page" id="pageInfo2">
                	<%= will_paginate @products, :params => {:controller => "category", :action => nil }, :inner_window => 1, :outer_window => 0 %>
                </div>
            </div>
        </div>
        
        <div class="right">
          <%= render "products/righttop" %>
          <%= render "products/rank" %>
          <%= render "products/browsehistory" %>

        </div>
    </div>
</div>
