<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname">
		<img src="/images/s_wine01.gif"  alt="葡萄酒" width="113" height="48" />
	</div>
</h2>

<div class="shopLbox">
  <%= render :partial => "products/shopleftbar" %>
       
<!--#sort-->         
	<div style="float:left;width:725px;">
		<div class="goodsResult">
			<ul class="pagePicView">
				<% @products.each do |product| %>
				<li>
					<dl>
						<dd class="grImg"><%= link_to image_tag(product.pic, :alt => product.cn_name), product_path(product) %></dd>
						<dt class="wine_word"><%= link_to product.cn_name, product_path(product), {:class => 'f-black-14-YaHei'} %></dt>
						<dt class="grPrice"><em class="f-grey-12">市场价:<%= format "%.2f", product.indication_price %>元</em></dt>
				        <dt class="grPrice">
				        	<em><span class="f-red-12">会员价:</span><span class="f-grey-20-Arial"><%= format "%.2f", product.price %></span><span class="f-red-12">元</span></em>
				            <a href="#"><img height="23"  width="23" style="float:right;" src="images/go-off.gif"/></a>
				        </dt> 
				    </dl>
				</li>
				<% end %>
			</ul>
			<div class="clearit"></div>
			<table border="0" align="center" cellpadding="0" cellspacing="5" class="list_num">
  				<tr>
				    <td class="current">1</td>
				    <td><a href="#">2</a></td>
				    <td><a href="#">3</a></td>
				    <td><a href="#">4</a></td>
				    <td><a href="#">5</a></td>
				    <td><a href="#">6</a></td>
				    <td><a href="#">7</a></td>
				    <td><a href="#">8</a></td>
				    <td><a href="#">&raquo;</a></td>
				</tr>
			</table>
    	</div>
	</div>
	<div class="clearit"></div>
</div>
