<h1>产品</h1>

<table>
  <tr>
    <th>名称</th>
	<th>编号</th>
    <th>单价</th>
    <th>指导价</th>
    <th>库存数量</th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.sku %></td>
    <td><%= product.price %></td>
    <td><%= product.indication_price %></td>
    <td><%= product.count %></td>
	<td><%= button_to "添加到购物车" , :action => 'add_product', :controller => 'cart', :id => product %></td>
    <td><%= link_to '详情', product %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @products %>
<br />
