<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li><%= link_to "所有产品", products_path %></li>
			<li class="on">添加产品</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<%= form_tag 'create', :multipart => true, :id => :product_new do %>
			<%= render 'form' %>
			<div class="bj-sp10"></div>
			<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
            	<tbody>
					<tr>
				    	<td width="100%" valign="middle" align="middle">
				        	<a href="javascript:$('#product_edit').submit();"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
				        </td>
				    </tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>
<div class="clearit"></div>