<!--shoplist-->
<h2 class="shopLtitle">
	<div class="capname">
		<img src="/images/s_wine01.gif"  alt="葡萄酒" width="113" height="48" />
	</div>
</h2>

<div class="shopLbox">
  <%= render :partial => "products/shopleftbar" %>
       
<!--#sort-->
	<div style="float:left;width:725px;">
		<div class="goodsResult">
			
			<div  class="list_num_top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td align="right">
						<table width="100%" border="0" cellspacing="5" cellpadding="0">
				  			<tr>
								<td><a href="<%= sort_is_already('price') ? search_path_with_sort('price', 1) : search_path_with_sort('price', 0) %>" class="<%= sort_is_already('price') ? "order_up" : "order_down" %>">价格</a></td>
								<td><a href="<%= sort_is_already('sold_count') ? search_path_with_sort('sold_count', 1) : search_path_with_sort('sold_count', 0) %>" class="<%= sort_is_already('sold_count') ? "order_up" : "order_down" %>">销量</a></td>
				  			</tr>
						</table>
					</td>
				    <td align="right" width="600">
						<%= paginate @products %>
					</td>
				  </tr>
				</table>
			</div>

			<div class="clearit"></div>
			
			<ul class="pagePicView">
				<% if @products.length == 0 %>
				没有符合条件的产品.
				<% end %>
        		<%= render @products %>
			</ul>
			
			<div class="clearit"></div>
			<div  class="list_num_top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td align="right" width="180">
						<!-- <table width="100%" border="0" cellspacing="5" cellpadding="0">
				  			<tr>
								<td><a href="#" class="order_up_on">销量</a></td>
				    			<td><a href="#" class="order_up">价格</a></td>
				     			<td><a href="#" class="order_down">评价</a></td>
				  			</tr>
						</table> -->
					</td>
				    <td align="right">
						<%= paginate @products %>
					</td>
				  </tr>
				</table>
			</div>
    </div>
	</div>
	<div class="clearit"></div>
	
	

	
</div>
