<!--shoplist-->
<div class="shopLbox">
<!--#sort-->
		<div class="goodsResult">
			<%= render :partial => "products/filter" %>
			<div class="list_num_top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td align="right">
						<% if @products && @products.count > 1 %>
						<table width="100%" border="0" cellspacing="5" cellpadding="0">
				  			<tr>
								<td><a href="<%= sort_is_already('price') ? search_path_with_sort('price', 1) : search_path_with_sort('price', 0) %>" class="<%= sort_is_already('price') ? "order_up" : "order_down" %>">价格</a></td>
								<td><a href="<%= sort_is_already('sold_count') ? search_path_with_sort('sold_count', 1) : search_path_with_sort('sold_count', 0) %>" class="<%= sort_is_already('sold_count') ? "order_up" : "order_down" %>">销量</a></td>
				  			</tr>
						</table>
						<% end %>
					</td>
				    <td align="right" width="600">
						<%= paginate @products %>
					</td>
				  </tr>
				</table>
			</div>

			<div class="clearit"></div>
			
			<ul class="pagePicView">
				<% if @products.length == 0 %>
				没有符合条件的产品.
				<% end %>
        		<%= render @products %>
			</ul>
			
			<div class="clearit"></div>
			<div class="list_num_top">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td align="right">
						<% if @products && @products.count > 1 %>
						<table width="100%" border="0" cellspacing="5" cellpadding="0">
				  			<tr>
								<td><a href="<%= sort_is_already('price') ? search_path_with_sort('price', 1) : search_path_with_sort('price', 0) %>" class="<%= sort_is_already('price') ? "order_up" : "order_down" %>">价格</a></td>
								<td><a href="<%= sort_is_already('sold_count') ? search_path_with_sort('sold_count', 1) : search_path_with_sort('sold_count', 0) %>" class="<%= sort_is_already('sold_count') ? "order_up" : "order_down" %>">销量</a></td>
				  			</tr>
						</table>
						<% end %>
					</td>
				    <td align="right" width="600">
						<%= paginate @products %>
					</td>
				  </tr>
				</table>
			</div>
    	</div>
	<div class="clearit"></div>
</div>
