<script type="text/javascript">
	function add_to_cart(url, qty){
		qty = parseInt(qty);
		if (isNaN(qty) || (qty < 1)){
			qty = 1;
		}
		window.location.href = url + '?quantity=' + qty;
	}
</script>
<!--product-detail-->
<!--
<div id="pd_breadnav">
	<a href="/">首页</a> > <a href="#">起泡酒</a> > <a href="#"><%= @product.cn_name %></a>
</div>
-->
<div class="clearit"></div>
<div id="pd_baseinfo">
	<div class="pd_img"><img src="/pics/<%= @product.sku %>/<%= @product.pic %>" width="270" height="270" /></div>
	<div class="basedetail">
		<div class="r2">
			<table width="500" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr>
						<td width="389">
							<a class="f-black-20-hei"><%= @product.cn_name %></a><br />
							<%= @product.name %>
						</td>
						<td width="111">
							<!--
							<table width="111" cellspacing="0" cellpadding="0" border="0" align="right">
								<tbody>
									<tr>
										<td valign="middle" align="center">
											<img align="absmiddle" src="/images/shou1.gif" />
										</td>
										<td valign="middle" align="center">
											<img align="absmiddle" src="/images/shou3.gif" />
										</td>
										<td valign="middle" align="center">
											<img align="absmiddle" src="/images/shou2.gif" />
										</td>
									</tr>
									<tr>
										<td valign="middle" align="center">70</td>
										<td valign="middle" align="center">105</td>
										<td valign="middle" align="center">15</td>
									</tr>
								</tbody>
							</table>
							-->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="r5">
			会员价：<span class="f-red-20-Ar">￥<%= format "%.2f", @product.price %></span>
		</div>
		<div class="r5">
			<span class="f-grey-12">市场价：￥<%= format "%.2f", @product.indication_price %></span>
		</div>
		<div class="r5 underline">
			<!--
			银卡会员价：￥135.2&nbsp;&nbsp;&nbsp;&nbsp;
			金卡会员价：￥133.9&nbsp;&nbsp;&nbsp;&nbsp;
			铂金卡会员价：￥131.1
			-->
		</div>
		<table width="496" cellspacing="0" cellpadding="0" border="0" class="r4">
			<tbody>
				<tr>
           			<td width="40" height="45" align="left">数量：</td>
           			<td width="85" align="left">
						<input type="text" id="winenum" class="winenum" value="1" name="textfield3" />
           			</td>
           			<td width="375" align="left" class="f-grey-12">
						已经售出  <span class="f-blue-12"><b><%= @product.sold_count %></b></span> 瓶 
						<!--
						有 <span class="f-blue-12"><b>53</b></span> 人评论 <a href="#"><span class="f-red-12">查看评论(12)</span></a>
						-->
					</td>
         			</tr>
         			<tr>
           			<td style="vertical-align: top; padding-bottom: 10px;" colspan="3">
           				<ul id="winelabellist" class="jb_singleli">
           				</ul>
					</td>
         			</tr>
         			<tr>
           			<td valign="middle" height="25" align="left" colspan="3">
						<table width="500" height="28" cellspacing="0" cellpadding="0" border="0">
             					<tbody>
								<tr>
               						<td valign="top" align="left" id="clickBox" colspan="2">
                                       	<a href="/cart/add_product/<%= @product.id %>" onclick="add_to_cart(this.href, $('#winenum').val()); return false;"><img border="0" src="/images/add_cart.gif" id="buttonImg"></a>
									</td>
               						<td width="115" valign="top" align="left">
										<!--
										<a href="#"><img border="0" src="/images/favourite_ico.gif"></a>
										-->
									</td>
               						<td width="260" align="left" valign="top"></td>
             						</tr>
           					</tbody>
						</table>
					</td>
         			</tr>
       		</tbody>
		</table>
		<div class="activemsg"></div>
		<div class="activemsg">
         		<ul class="kc">
	  			<li style="margin: 0pt;"><b>库存：</b></li>
				<li><span>上海仓</span><font id="shanghai">有货</font></li>
				<!--
				<li><span>北京仓</span><font id="beijing">无货</font></li>
				<li><span>广州仓</span><font id="guangzhou">有货</font></li>
				<li><span>成都仓</span><font id="chengdu">有货</font></li>
				-->
				<li>上海仓可发送至全国</li>
         		</ul>
		</div>
	</div>
	<div class="clearit"></div>
</div>
	<ul id="pd_infomenu">
		<li class="on">产品描述</li>
		<!--
		<li><a href="product-comment.html">评价与咨询(201)</a></li>
		<li><a href="#">其他评论</a></li>
		-->
	</ul>
	<div class="clearit"></div>
	<div id="pd_moreinfo">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td width="255"><img src="/images/pd_detail_img.gif" width="255" height="350" /></td>
		    <td id="pd_attribute"><table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td width="262">Rose 玫瑰红葡萄酒</td>
		        <td>法国</td>
		      </tr>
		      <tr>
		        <td class="colSTa">2008年</td>
		        <td>法国隆河RHONE</td>
		      </tr>
		      <tr>
		        <td class="colSTa">聚会、约会、独饮</td>
		        <td>Domaine du Bois de Saint Jean</td>
		      </tr>
		      <tr>
		        <td>清亮玫瑰红</td>
		        <td>AOC</td>
		      </tr>
		      <tr>
		        <td class="colSTc">10℃-16℃</td>
		        <td class="colSTa">14.5（％）</td>
		      </tr>
		      <tr>
		        <td class="colSTb">60%歌海娜 30%幕尔伟德 <br />
		          10%席拉</td>
		        <td>750ml</td>
		      </tr>
		    </table></td>
		  </tr>
		</table>
		<br />
		  <table width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr>
		    <td class="f-black-14"><strong><br />
		      马蒂尔伯爵白起泡葡萄酒：</strong><br />
		      入口十分顺滑是马蒂尔伯爵白起泡葡萄酒不可取代的特征。与新鲜的浆果味道相得益彰，加上清爽的口感，更有韵味，令人回味无穷。在抢购平台中，马蒂尔伯爵白起泡葡萄酒以超低的价格示人，必将性价比发挥到了极致。<br />
		      <br />
		      <strong>酒庄概况 </strong><br />
		      卡维留里酒庄位于塞奇雅（Secchia）和帕纳罗（Panaro）河之间，卡维留里（Cavicchioli）酒庄在摩德纳（Modena）省附近城镇拥有许多葡萄种植园，并在种植朗布罗斯（Lambrusco）的葡萄园还建立了他们自己的酒厂。 在酒庄几公里外，种植着品质最佳朗布罗斯索拉和朗布罗斯格斯巴两个葡萄品种。酒庄经过几十年的发展和创新，已经研发和生产出意大利最好的朗布罗斯品种的葡萄酒，并且产品销往全球。<br /></td>
		    <td width="300" align="right"><img src="images/pd_detail_img01.gif" width="261" height="377" /></td>
		  </tr>
		</table>
		  <br />
		  <table width="100%" border="0" cellpadding="0" cellspacing="0">
		    <tr>
		      <td width="300"><img src="/images/pd_detail_img02.gif" width="275" height="330" /></td>
		      <td class="f-black-14"><strong><br />
		        来自意大利产区——艾米利亚(Emilia Romagna)：</strong><br />
		        艾米利亚-罗马涅大区位于意大利连接北部和中部的中间地带，是意大利第六大行政区。大区南部为丘陵地带，北部为平原。气候呈现一定的次大陆性气候特征，冬季较冷，夏季炎热。大区下设8个省（即：波洛尼亚、莫德纳、帕尔玛、费拉拉、拉维纳、雷焦艾米利亚、弗利、皮亚琴察）全区341个大小市镇。该区土壤肥沃，是意大利重要的农业区。<br />
		        <br />
		        <strong>原装原瓶，纯进口佳酿 </strong><br />
		        只销售原装纯进口佳酿，左图出入境检验检疫证书中，可以清晰的看到数款来自意大利的美味琼浆。</td>
		    </tr>
		  </table>


		  <div class="pd_section"><div class="insection">
		 <h1>葡萄种类</h1>

		 此款佳酿拥有迷人的红宝石色，带有石榴石光泽，红色水果味浓郁(樱桃和黑醋栗)，并带有一丝香料味 (胡椒)，入口果香持久，愉悦的香气贯穿整个品酒过程，单宁平衡。是一款圆润，令人愉悦，优雅，余味悠长的波尔多干红。
		</div>
		</div>

		   <div class="pd_section"><div class="insection">
		 <h1>酒庄介绍</h1>

		 Angles家族诞生于南隆河一个名为Jonquerettes的小村庄，其历史可追溯到1630年。圣泉酒庄于1985年正式成立，历经几代人的辛勤耕耘，终于把酒庄提升到了如今的高度。该酒庄的高端酒甚至得到了著名酒评家Robert Parker的青睐，给出了90以上的评分。

		</div>
		</div>

		  <div class="pd_section"><div class="insection">
		 <h1>得奖信息</h1>

		·拉格内城堡干红葡萄酒2009年份获得2010年度巴黎农业大奖赛铜奖。

		<br />
		·拉格内城堡干红葡萄酒2009年份获得2010年度巴黎农业大奖赛铜奖。 </div>
		</div>

		  <div class="pd_section"><div class="insection">
		 <h1>厂家介绍</h1>

		 此款佳酿拥有迷人的红宝石色，带有石榴石光泽，红色水果味浓郁(樱桃和黑醋栗)，并带有一丝香料味 (胡椒)，入口果香持久，愉悦的香气贯穿整个品酒过程，单宁平衡。是一款圆润，令人愉悦，优雅，余味悠长的波尔多干红。
		</div>
		</div>
	<%= raw @product.memo %>
	
	
	</div>