<script type="text/javascript">
	// function add_to_cart(url, qty){
	// 	qty = parseInt(qty);
	// 	if (isNaN(qty) || (qty < 1)){
	// 		qty = 1;
	// 	}
	// 	window.location.href = url + '?quantity=' + qty;
	// }
</script>
<!--product-detail-->
<!--
<div id="pd_breadnav">
	<a href="/">首页</a> > <a href="#">起泡酒</a> > <a href="#"><%= @product.cn_name %></a>
</div>
-->
<div class="clearit"></div>
<div id="pd_baseinfo">
	<div class="pd_img"><%= image_tag @product.pic_main.url(:medium), :width => "270", :height => "270", :title => @product.name, :alt => @product.cn_name %></div>
	<div class="basedetail">
		<div class="r2">
			<table width="500" cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr>
						<td width="500">
							<a class="f-black-20-hei"><%= @product.cn_name %></a><br />
							<%= @product.name %>
						</td>
						<!-- <td width="111">
							
							<table width="111" cellspacing="0" cellpadding="0" border="0" align="right">
								<tbody>
									<tr>
										<td valign="middle" align="center">
											<img align="absmiddle" src="/images/shou1.gif" />
										</td>
										<td valign="middle" align="center">
											<img align="absmiddle" src="/images/shou3.gif" />
										</td>
										<td valign="middle" align="center">
											<img align="absmiddle" src="/images/shou2.gif" />
										</td>
									</tr>
									<tr>
										<td valign="middle" align="center">70</td>
										<td valign="middle" align="center">105</td>
										<td valign="middle" align="center">15</td>
									</tr>
								</tbody>
							</table>
							
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div class="r5">
			<% if @product.promo_price > 0 %>
			促销价：<span class="f-red-20-Ar">￥<%= format "%.2f", @product.promo_price %></span>
			<% else %>
			会员价：<span class="f-red-20-Ar">￥<%= format "%.2f", @product.price %></span>
			<% end %>
		</div>
		<div class="r5 underline">
			<span class="f-grey-12">市场价：￥<%= format "%.2f", @product.indication_price %></span>
			<% if @product.promo_price > 0 %>
			&nbsp;&nbsp;<span class="f-grey-12">会员价：￥<%= format "%.2f", @product.price %></span>
			<% end %>
			&nbsp;&nbsp;<span class="f-grey-12">已经售出  </span><span class="f-blue-12"><b><%= @product.sold_count %></b></span><span class="f-grey-12"> 件 </span>
		</div>
			<!--
		<div class="r5 underline">
		
			银卡会员价：￥135.2&nbsp;&nbsp;&nbsp;&nbsp;
			金卡会员价：￥133.9&nbsp;&nbsp;&nbsp;&nbsp;
			铂金卡会员价：￥131.1
		
		</div>	-->
	
		
		<table width="496" cellspacing="0" cellpadding="0" border="0" class="r4">
			<tbody>
				<tr>
           			<td width="40" height="45" align="left">数量：</td>
           			<td width="100" align="left">
						<a title="减少" href="#" onclick="javascript:if($('#winenum').val() > 1){$('#winenum').val($('#winenum').val() - 1);$('#winenum').change();};return false;"><img src="/images/minus_btn.gif"></a>
						<input type="text" id="winenum" class="con_mycart_input" size="2" value="1" name="textfield3" />
						<a title="增加" href="#" onclick="javascript:if($('#winenum').val() >= 0){$('#winenum').val($('#winenum').val() - 0 + 1);$('#winenum').change();};return false;">
						<img src="/images/plus_btn.gif"></a>
           			</td>
           			<td width="320" align="left" class="f-grey-12">
						<!-- <a href="/cart/add_product/<%= @product.id %>" title="立即购买" onclick="add_to_cart(this.href, $('#winenum').val()); return false;"><img border="0" src="/images/buy.gif" id="buttonImg"></a> -->
						<a href="#" title="立即购买" onclick="add_to_cart(<%= @product.id %>, $('#winenum').val());"><img border="0" src="/images/buy.gif" id="buttonImg"></a>
						<!--
						有 <span class="f-blue-12"><b>53</b></span> 人评论 <a href="#"><span class="f-red-12">查看评论(12)</span></a>
						-->
					</td>
         			</tr>
         			
         	<!-- 计划 用来 显示 多个小图 		
         			<tr>
           			<td style="vertical-align: top; padding-bottom: 10px;" colspan="3">
           				<ul id="winelabellist" class="jb_singleli">
           				</ul>
					</td>
         			</tr>
         			--> 
         			<!-- 计划 用来显示 添加到购物车 和 添加到收藏夹 ，当前由于功能简化，将 添加到购物车 移到 购买数量 后面
         			<tr>
           			<td valign="middle" height="25" align="left" colspan="3">
						<table width="500" height="28" cellspacing="0" cellpadding="0" border="0">
             					<tbody>
								<tr>
               						<td valign="top" align="left" id="clickBox" colspan="2">
                		<a href="/cart/add_product/<%= @product.id %>" onclick="add_to_cart(this.href, $('#winenum').val()); return false;"><img border="0" src="/images/add_cart.gif" id="buttonImg"></a>                       	
									</td>
               						<td width="115" valign="top" align="left">
										
										<a href="#"><img border="0" src="/images/favourite_ico.gif"></a>
										
									</td>
               						<td width="260" align="left" valign="top"></td>
             						</tr>
           					</tbody>
						</table>
					</td>
         			</tr>
         			-->
       		</tbody>
		</table>

	  <div class="activemsg">
         		<ul class="kc">
				<li>上海库存：<strong><font id="shanghai"><%= @product.count > 0 ? "现货" : "无货" -%></font></strong></li>
				<!--
				<li style="margin: 0pt;"><b>库存：</b></li>
				
				<li><span>北京仓</span><font id="beijing">无货</font></li>
				<li><span>广州仓</span><font id="guangzhou">有货</font></li>
				<li><span>成都仓</span><font id="chengdu">有货</font></li>
				-->
         		</ul>
         <br/>	
		</div>
		<div class="clearit"></div>
		<div class="activemsg">试营业期间，送货范围仅限上海郊环线内	</div>
	</div>
	<div class="clearit"></div>
</div>
	<ul id="pd_infomenu">
		<!--
		<li class="on">产品描述</li>
		
		<li><a href="product-comment.html">评价与咨询(201)</a></li>
		<li><a href="#">其他评论</a></li>
		-->
	</ul>
	<div class="clearit"></div>
	<div id="pd_moreinfo">
		<!-- 主要产品属性 -->
		<br />
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>

		    <td id="pd_attribute">
				  <table width="100%" border="0" cellspacing="0" cellpadding="0">
				  	<tbody>
			        <tr>
			          <td width="220"><span>酒类型：&nbsp;&nbsp;</span><%= @product.get_attribute_value("type") %></td>
					      <td><span>葡萄品种：&nbsp;&nbsp;</span><%= @product.get_attribute_value("grape") %></td>
			        </tr>
			        <tr>
					      <td><span>原产国：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("country") %></td>
			          <td><span>葡萄产区：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("region") %></td>
			        </tr>
					    <tr>
						    <td><span>生产商：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("made_by") %></td>
						    <td><span>适用场合：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("use_for") %></td>
					    </tr>
			        <tr>
			          <td>
			        	  <% if @product.get_attribute_value("abv") == "" %>
			        	    &nbsp;
			        	  <% else %>
			        	    <span>酒精度：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("abv") %>%vol
			        	  <% end %>
				    	  </td>
			          <td>
			            <% if @product.get_attribute_value("vol") == "" %>
				      	    &nbsp;
				      	  <% else %>
				      	    <span>装瓶容量：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("vol") %>ml
				      	  <% end %>
				    	  </td>
			        </tr>
			        <tr>
				    	  <td>
			            <% if @product.get_attribute_value("level") == "" %>
				      	    &nbsp;
				      	  <% else %>
				      	    <span>酒等级：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("level") %>
				      	  <% end %>
			          </td>		
			          <td>    	  
				      	  <% if @product.get_attribute_value("vintage") == "" %>
				      	    &nbsp;
				      	  <% else %>
				      	    <span>葡萄年份：</span>&nbsp;&nbsp;<%= @product.get_attribute_value("vintage") %>
				      	  <% end %>
				    	  </td>
			        </tr>
				    </tbody>
			    </table>
			  </td>
			  <td id="pd_label">

				  <%= image_tag @product.pic_label.url(:medium), :title => @product.name, :alt => @product.cn_name %>
			  </td>
		  </tr>
		</table>
		<%= raw @product.memo %>
	  
	</div>
