<div class="crumb">
  <img src="/images/ico9.gif" align="absbottom"><a style="color: #383838;" href="/">首页</a>
  ＞<span style="color: #970005;"><%= @product.cn_name %></span>
</div>
<div class="showwine">
    <div class="left">
        <div class="bigImg" style="display: none">
        </div>
        <span style="float:left; position:relative; padding:0px; cursor:pointer;">
            <div style="position: absolute; left: 176px; top: 318px; z-index: 500; border: 0px none;">
            </div>
            <a href="/pics/<%= @product.sku %>/<%= @product.pic %>" class="jqzoom" style="outline-style: none; text-decoration: none; ">
			          <img src="/pics/<%= @product.sku %>/<%= @product.pic %>" style="border: 1px solid #ccc;">
                <div class="preload" style="visibility: hidden; ">
                    Loading zoom
                </div>
            </a>
        </span>
        <div class="infowine">
            <div class="r1">
                已经售出&nbsp;<span class="snf3" id="saleAmout"><%= @product.sold_count %></span>&nbsp;瓶  
            </div>
            <div class="r2">
                <table width="500" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="389">
                                <a class="snf11"><%= @product.cn_name %></a>
                                <br>
                                <%= @product.name %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="r5">
                12doo价：<span class="snf17">￥<%= format ("%.2f", @product.price) %></span>
            </div>
            <div class="r5 snf8">
                <span class="delline">市场价：￥<%= format ("%.2f", @product.indication_price) %></span>
            </div>
            <div class="r5 underline">
                <div style="float: left">
                </div>
            </div>
            <table width="496" border="0" cellpadding="0" cellspacing="0" class="r4">
                <tbody>
                    <tr>
                        <td width="40" height="45" align="left" valign="middle">
                            数量：
                        </td>
                        <td width="460" align="left" valign="middle">
                            <input type="text" value="1" name="textfield3" id="winenum" class="winenum">
                        </td>
                    </tr>
                    <tr>
                        <td height="25" colspan="2" align="left" valign="middle">
                            <table width="500" height="28" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="left" valign="top">
                                            <a href="#" onclick="this.href='/cart/in_container?id=<%= @product.id %>&height=400&width=500&modal=true&quantity=' + $('#winenum').val()" class="thickbox"><img src="/images/add_to_cart.gif" border="0"></a>
                                            <div id="clickBox">
                                            </div>
                                        </td>
                                        <td width="60" align="left" valign="top">
                                            <a href="javascript:alert('add to fav')"><img src="/images/add_to_fav.gif" border="0"></a>
                                        </td>
                                        <td width="323" align="left" valign="top">
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="activemsg">
            </div>
        </div>
        <div id="infodetail1">
            <div class="pingluntitle">
                <div class="plmenu1a">
                    产品描述
                </div>
            </div>
            <div class="singletxt">
            	<p>
				        <% @product.product_attributes.each do |attribute| %>
					        <strong><%= attribute.name %>:</strong><%= attribute.value %><br />
				        <% end %>
                </p>
                <div class="pro_txt">
                <%= raw @product.memo %>
                </div>
            </div>
        </div>
	</div>
    <div class="right">
        <script type="text/javascript" src="./酒_files/similarGoods.js">
        </script>
        <div class="topbox pdb">
            <div class="title">
                您还可能喜欢
            </div>
            <div class="wineimglist" id="similarList">
                <ul>
                    <li>
                        <div class="imgbox">
                            <a href="#"><img src="/images/60x98.jpg" border="0"></a>
                        </div>
                        <div class="txtbox">
                            <a href="#">奥博克趣黑比诺...</a>
                        </div>
                        <div class="txtbox">
                            会员价：<a class="snf3">199.0元</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <a href="#"><img src="/images/60x98(1).jpg" border="0"></a>
                        </div>
                        <div class="txtbox">
                            <a href="#">皮安尼仙梅洛红...</a>
                        </div>
                        <div class="txtbox">
                            会员价：<a class="snf3">75.0元</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <a href="#"><img src="/images/60x98(2).jpg" border="0"></a>
                        </div>
                        <div class="txtbox">
                            <a href="#">瓦德堡雷司令白...</a>
                        </div>
                        <div class="txtbox">
                            会员价：<a class="snf3">110.0元</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <a href="#"><img src="/images/60x98(3).jpg" border="0"></a>
                        </div>
                        <div class="txtbox">
                            <a href="#">智利好年卡门尼...</a>
                        </div>
                        <div class="txtbox">
                            会员价：<a class="snf3">128.0元</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <a href="#"><img src="/images/60x98(4).jpg" border="0"></a>
                        </div>
                        <div class="txtbox">
                            <a href="#">吉佳乐世家康德...</a>
                        </div>
                        <div class="txtbox">
                            会员价：<a class="snf3">1372.0元</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox">
                            <a href="#"><img src="/images/60x98(5).jpg" border="0"></a>
                        </div>
                        <div class="txtbox">
                            <a href="#">胜嘉力 - 梅乐...</a>
                        </div>
                        <div class="txtbox">
                            会员价：<a class="snf3">202.0元</a>
                        </div>
                    </li>
                </ul>
            </div>
            <table width="200" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td height="1">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="topbox">
            <div class="title">
                浏览记录
            </div>
            <div class="wineimglist" id="browseList">
            </div>
            <div class="wineimglist">
                <table cellspacing="0" cellpadding="0" border="0" align="center" width="200">
                    <tbody>
                        <tr>
                            <td height="25" align="right" colspan="3">
                                <a href="javascript:browseGoods.clearAllBrowse();">清除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
