<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">所有属性值</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
        <tbody>
          <tr bgcolor="#f0f0f0" class="f-black-12-b">
            <td height="30" width="30">ID</td>
            <td width="100">属性</td>
			<td width="100">是否有明细</td>
            <td>值</td>
            <td width="100">操作</td>
          </tr>
					<% @product_attribute_values.each do |product_attribute_value| %>
				 	<tr>
				 	  	<td height="30"><%= product_attribute_value.id %></td>
  			    		<td><%= product_attribute_value.product_attribute_define.name %></td>
						<td><%= product_attribute_value.product_attribute_define.detail ? "是" : "否" %></td>
				    	<td><%= product_attribute_value.value %></td>
						<td>
							<%= link_to '[编辑内容]', {:action => :edit_item, :controller => :wikis, :category => product_attribute_value.name, :title => product_attribute_value.value} , :class => 'f-red-12' %>
						</td>
				  </tr>
					<% end %>
        </tbody>
		</table>
			
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @product_attribute_values %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>

