<% form_for @product_attribute_define, :html => { :id => :product_attribute_define_form } do |f| %>

<% if @product_attribute_define.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product_attribute_define.errors.count, "error") %> prohibited this product_attribute_define from being saved:</h2>

    <ul>
    <% @product_attribute_define.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfoL">
	<tbody>
		<tr>
		    <td height="30" width="100" class="tcenter">名称</td>
		    <td><%= f.text_field  :name %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">排序</td>
		    <td><%= f.text_field  :sort %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">简单说明</td>
		    <td><%= f.text_field  :description %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">所属分类</td>
		    <td><%= f.select  :category_id, @categories.collect{ |c| [c.name, c.id] } %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">多个值</td>
		    <td><%= f.check_box  :multiple %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">可以搜索</td>
		    <td><%= f.check_box  :search %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">固定值</td>
		    <td><%= f.check_box  :fix %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">有明细</td>
		    <td><%= f.check_box  :detail %></td>
		</tr>
		<tr>
		    <td height="30" class="tcenter">值</td>
		    <td>
				<%= @product_attribute_define.get_values %>
			</td>
		</tr>
    </tbody>
</table>
<div class="bj-sp10"></div>
<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
	    	<td width="100%" valign="middle" align="middle">
	        	<a href="#" onclick="javascript:$('#product_attribute_define_form').submit(); return false;"><img align="absmiddle" alt="" src="/images/confirm_btn.gif" /></a>
	        </td>
	    </tr>
	</tbody>
</table>

<% end %>