<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">已购商品</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="400">
                            商品名称
                        </td>
                        <td width="70">
                           	当前价格
                        </td>
                        <td width="75" valign="middle" bgcolor="#f0f0f0" align="center">
                            操作
                        </td>
                    </tr>
					<% @products.each do |item| %>
                    <tr>
                        <td height="30"><%= link_to item.cn_name, {:action => :show, :controller => :products, :id => item.id }, :class => "f-red-12", :target => '_blank' %></td>
                        <td><%= format "%.2f", item.price %></td>
                        <td>
							<a href="/cart/add_product/<%= item.id %>" class="f-red-12">[放入购物车]</a>
						</td>
                    </tr>
					<% end %> 
                </tbody>
			</table>
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @products %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>