<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">已购商品</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="300">
                            产品名称
                        </td>
                        <td width="200">
                            价格
                        </td>
                        <td width="70">
                            
                        </td>
                        <td width="70">
                            
                        </td>
                        <td width="75" valign="middle" bgcolor="#f0f0f0" align="center">
                            操作
                        </td>
                    </tr>
					<% @products.each do |product| %>
                    <tr>
                        <td height="30"><%= product.cn_name %></td>
                        <td><%= format "%.2f", product.price %></td>
                        <td></td>
                        <td></td>
                        <td>
							<%= link_to '[放入购物车]', {:action => :edit_address, :id => product.id}, :class=>"f-red-12" %>
						</td>
                    </tr>
					<% end %> 
                </tbody>
			</table>
			<%= paginate @products %>
		</div>
	</div>
</div>
<div class="clearit"></div>