<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">我的优惠券</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="70">
                            编号
                        </td>
                        <td width="65">
                            抵扣金额
                        </td>
                        <td width="65">
                            最低订单金额
                        </td>
                        <td width="65" valign="middle" bgcolor="#f0f0f0" align="center">
                        	启用时间
                        </td>
                        <td width="70" valign="middle" bgcolor="#f0f0f0" align="center">
                            截止时间
                        </td>
					</tr>
					<% @coupons.each do |coupon| %>
				 	<tr>
					    <td height="30"><%= coupon.code %></td>
					    <td><%= format "%.2f", coupon.discount %></td>
						<td><%= format "%.2f", coupon.threshold %></td>
						<td><%= coupon.begin.strftime('%Y-%m-%d %H:%M:%S') %></td>
					    <td><%= coupon.end.strftime('%Y-%m-%d %H:%M:%S') %></td>
				  	</tr>
					<% end %>
                </tbody>
			</table>
			<%= paginate @coupons %>
		</div>
	</div>
</div>
<div class="clearit"></div>