<%= render 'my/header' %>
<div id="my_acinfo">
<%= render 'my/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">我的优惠券</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="70">
                            编号
                        </td>
                        <td width="65">
                           	适用产品
                        </td>
                        <td width="65">
                            抵扣金额
                        </td>
                        <td width="70">
                            有效期截止
                        </td>
                        <td width="400">
                           说明
                        </td>
					</tr>
					<% @coupons.each do |coupon| %>
				 	<tr>
					    <td height="30"><%= coupon.code %></td>
						<td><%= coupon.category ? coupon.category.name : "所有产品" %></td>
					    <td><%= format "%.2f", coupon.discount %></td>
					    <td><%= coupon.end ? coupon.end.strftime('%Y-%m-%d') : "" %></td>
						<td><%= coupon.memo %></td>
				  	</tr>
					<% end %>
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>