<div class="clearit"></div>
<div id="my_ac">
	<div id="ac_header"><img src="/images/myaccount_header.gif" width="130" height="130" /></div>
	<div id="ac_baseinfo">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="user_name" class="f-black-20-hei">JackieC</td>
				<td><div id="user_ps"><span class="f-org-12-b">消息提醒：</span>您有 <span class="f-blue-12">0</span> 张优惠券可以使用</div></td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" id="user_detail">
			<tr>
				<td width="35%">上次登录时间：2011-04-15 14:15:25 </td>
				<td width="35%">您的帐户余额： <span class="f-red-20-Ar-b">200.5</span> 元</td>
				<td rowspan="3"><img src="images/chongzhi_btn.gif" width="114" height="32" /></td>
			</tr>
			<tr>
				<td>手机绑定： 未绑定 <span class="f-blue-12">[立即绑定]</span> </td>
				<td>现有可用积分： <span class="f-gren-20-Ar-b">255</span> 分 </td>
			</tr>
			<tr>
				<td>会员级别： <span class="f-blue-12">[积分规则]</span> </td>
				<td>历史累积积分： <span class="f-gren-20-Ar-b">635</span> 分 </td>
			</tr>
		</table>
	</div>
	<div class="clearit"></div>
</div>
<div id="my_acinfo">
	<div id="ac_left">
		<div class="contentbox">
			<h2><img src="/images/myac_h2.gif" width="79" height="40" /></h2>
			<ul>
				<li><a href="#">个人资料</a></li>
				<li><a href="/my/password">修改密码</a></li>
				<li><a href="/my/account">我的账户</a></li>
				<li><a href="/my/bought">我的积分</a></li>
				<li><a href="/my/money">充值提现</a></li>
				<li><a href="/my/addresses">我的地址簿</a></li>
			</ul>
		</div>
		<div class="bj-sp10"></div>
		<div class="contentbox">
			<h2><img src="/images/mylist_h2.gif" width="79" height="40" /></h2>
			<ul>
				<li class="utitle">订单管理</li>
				<li><a href="/my/orders">全部订单</a></li>
				<li><a href="/my/bought">已购商品</a></li>
			</ul>
			<ul>
				<li class="utitle"><a href="#">我的信息</a></li>
				<li><a href="/my/coupons">我的优惠券</a></li>
				<li><a href="/my/favorites">我的收藏</a></li>
				<li><a href="/my/books">我的预约</a></li>
			</ul>
		</div>
	</div>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">未处理订单（3）</li>
			<li><a href="#">未点评商品(201)</a></li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="98%" cellspacing="0" cellpadding="0" border="0" align="center">
            	<tbody>
					<tr>
				    	<td width="400" valign="middle">
				            下单日期：
				            <input type="text" value=""  style="width: 120px;" name="createdDateBegin" class="Wdate" id="createdDateBegin">
				            -
				            <input type="text" value=""  style="width: 120px;" name="createdDateEnd" class="Wdate" id="createdDateEnd">
				        </td>
				        <td width="340" valign="middle" align="left">
				            订单状态：
				            <select id="orderStateName" name="orderStateName">
				                <option value="">
				                    --全部--
				                </option>
                
				                <option value="ORDER_STATUS_CONFIRMED">
				                    已确认
				                </option>
				                <option value="ORDER_STATUS_UN_CONFIRMED">
				                    待确认
				                </option>
				                <option value="ORDER_STATUS_CANCEL">
				                    已取消
				                </option>
				            </select>
				            付款方式：
				            <select id="payMethodName" name="payMethodName">
				                <option value="">
				                    --全部--
				                </option>
				                <option value="PAY_TYPE_DOWN">
				                    货到付款
				                </option>
				                <option value="PAY_TYPE_ONliNE_ZFB">
				                    支付宝
				                </option>
				                <option value="PAY_TYPE_CHAINPAY">
				                    网付通
				                </option>
				                <option value="PAY_TYPE_KUAIQIAN">
				                    快钱支付
				                </option>
				                <option value="PAY_TYPE_BANK">
				                    银行转帐
				                </option>
				                <option value="PAY_TYPE_POST">
				                    邮局汇款
				                </option>
				                <option value="PAY_TYPE_ONliNE_CBC">
				                    工商银行
				                </option>
				                <option value="PAY_TYPE_ONliNE_CMBC">
				                    民生银行
				                </option>
				                <option value="PAY_TYPE_ONliNE_CMB">
				                    招商银行
				                </option>
				                <option value="PAY_TYPE_ONliNE_PINGAN">
				                    平安银行
				                </option>
				            </select>
				        </td>
				        <td valign="middle" align="right">
				        	<a href=""><img align="absmiddle" alt="" src="/images/confirm_btn.gif"></a>
				        </td>
				    </tr>
				</tbody>
			</table>
            <div class="bj-sp10"></div>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="30" width="70">
                            订单号
                        </td>
                        <td width="65">
                            发货单号
                        </td>
                        <td width="70">
                            下单日期
                        </td>
                        <td width="70">
                            收货人
                        </td>
                        <td width="65" valign="middle" bgcolor="#f0f0f0" align="center">
                            订单金额
                        </td>
                        <td width="70" valign="middle" bgcolor="#f0f0f0" align="center">
                            支款方式
                        </td>
                        <td width="70" valign="middle" bgcolor="#f0f0f0" align="center">
                            订单状态
                        </td>
                         <td width="60" valign="middle" bgcolor="#f0f0f0" align="center">
                            发货仓
                        </td>
                        
                        <td width="200" valign="middle" bgcolor="#f0f0f0" align="center">
                            操作
                        </td>
                    </tr>
                    <tr>
                        <td height="30"><a class="f-blue-12" href="">10483861 </a></td>
                        <td>S247229</td>
                        <td>2011-04-15</td>
                        <td>叶灵</td>
                        <td>￥136</td>
                        <td>货到付款</td>
                        <td>已退货</td>
                        <td>上海仓</td>
                        <td><a href="" class="f-red-12">[查看]</a></td>
                    </tr>
                    <tr>
                        <td height="30"><a class="f-blue-12" href="">10483861 </a></td>
                        <td>S247229</td>
                        <td>2011-04-15</td>
                        <td>叶灵</td>
                        <td>￥136</td>
                        <td>货到付款</td>
                        <td>已退货</td>
                        <td>上海仓</td>
                        <td><a href="" class="f-red-12">[查看]</a></td>
                    </tr>
                    <tr>
                        <td height="30"><a class="f-blue-12" href="">10483861 </a></td>
                        <td>S247229</td>
                        <td>2011-04-15</td>
                        <td>叶灵</td>
                        <td>￥136</td>
                        <td>货到付款</td>
                        <td>已退货</td>
                        <td>上海仓</td>
                        <td><a href="" class="f-red-12">[查看]</a></td>
                    </tr>
                    <tr>
                        <td height="30"><a class="f-blue-12" href="">10483861 </a></td>
                        <td>S247229</td>
                        <td>2011-04-15</td>
                        <td>叶灵</td>
                        <td>￥136</td>
                        <td>货到付款</td>
                        <td>已退货</td>
                        <td>上海仓</td>
                        <td><a href="" class="f-red-12">[查看]</a></td>
                    </tr>
                </tbody>
			</table>
            <table border="0" align="center" cellpadding="0" cellspacing="5" class="list_num">
  				<tr>
					<td class="current">1</td>
					<td><a href="#">2</a></td>
					<td><a href="#">3</a></td>
					<td><a href="#">4</a></td>
					<td><a href="#">5</a></td>
					<td><a href="#">6</a></td>
					<td><a href="#">7</a></td>
					<td><a href="#">8</a></td>
					<td><a href="#">&raquo;</a></td>
  				</tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>
  

            


        
        
        

        
        
        
        
        
        
        
        

         
        
        

             









<%= render 'my/crumb' %>
<%= render 'my/userside' %>


<div class="all_content">

  <div class="regbox">
    <%# render 'devise/alert' %>
    <%= form_for(:current_user, :html => {:name =>"user_info" }) do |f| %>
        
    <table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
      <tbody>
          <tr>
              <td width="75px" height="35" align="right" valign="middle">
                <%= f.label :email %>：
              </td>
              <td width="210px" align="left" valign="middle">
              	<%= @current_user.email %>
              </td>
              <td width="315px" align="left">
              
              </td>
          </tr>
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :name %>：
              </td>
              <td align="left" valign="middle">
              	<%= @current_user.name %>
              </td>
              <td align="left">
              
              </td>
          </tr>    
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :phone %>：
              </td>
              <td align="left" valign="middle">
              	 <%= @current_user.phone %>
              </td>
              <td align="left">
              
              </td>
          </tr> 
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :gender %>：
              </td>
              <td align="left" valign="middle">
                <%= @current_user.gender %>
              </td>
              <td align="left">
              
              </td>
          </tr>        
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :birth %>：
              </td>
              <td align="left" valign="middle">
              	<%= @current_user.birth.to_s %>
              </td>
              <td align="left">
              
              </td>
          </tr>                                                              
 
          <tr>
              <td height="35" align="right" valign="middle">
                
              </td>
              <td align="left" valign="middle">
                <%= link_to "我要修改上述信息", edit_user_registration_path %>
              	<%# f.submit "更新个人信息" %>
              </td>
              <td align="left">
              
              </td>
          </tr>                     
      </tbody>
    </table>               
    <% end %>
  </div>
</div>





