<%= render 'my/crumb' %>
<%= render 'devise/userside' %>


<div class="all_content">

  <div class="regbox">
    <%# render 'devise/alert' %>
    <%= form_for(:current_user, :html => {:name =>"user_info" }) do |f| %>
        
    <table width="600" border="0" align="left" cellpadding="0" cellspacing="0">
      <tbody>
          <tr>
              <td width="75px" height="35" align="right" valign="middle">
                <%= f.label :email %>：
              </td>
              <td width="210px" align="left" valign="middle">
              	<%= @current_user.email %>
              </td>
              <td width="315px" align="left">
              
              </td>
          </tr>
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :name %>：
              </td>
              <td align="left" valign="middle">
              	<%= @current_user.name %>
              </td>
              <td align="left">
              
              </td>
          </tr>    
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :phone %>：
              </td>
              <td align="left" valign="middle">
              	 <%= @current_user.phone %>
              </td>
              <td align="left">
              
              </td>
          </tr> 
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :gender %>：
              </td>
              <td align="left" valign="middle">
                <%= @current_user.gender %>
              </td>
              <td align="left">
              
              </td>
          </tr>        
          <tr>
              <td height="35" align="right" valign="middle">
                <%= f.label :birth %>：
              </td>
              <td align="left" valign="middle">
              	<%= @current_user.birth.to_s %>
              </td>
              <td align="left">
              
              </td>
          </tr>                                                              
 
          <tr>
              <td height="35" align="right" valign="middle">
                
              </td>
              <td align="left" valign="middle">
                <%= link_to "我要修改上述信息", edit_user_registration_path %>
              	<%# f.submit "更新个人信息" %>
              </td>
              <td align="left">
              
              </td>
          </tr>                     
      </tbody>
    </table>               
    <% end %>
  </div>
</div>





