<h2>Your Pragmatic Cart</h2>
<ul>
<% for item in @cart.items %>
	<li><%= item.quantity %> &times; <%=h item.name %>--<%= item.subtotal.to_f %></li>
<% end %>
<li><h1><%= @cart.total.to_f %></h1></li>
<li><%= button_to "clear cart", :action=>'clear_cart' %></li>
</ul>