<%= render 'admin/header' %>
<div id="my_acinfo">
<%= render 'admin/userside' %>
	<div id="ac_right">
		<ul id="pd_infomenu">
			<li class="on">支付宝记录</li>
		</ul>
		<div class="clearit"></div>
		<div id="ac_more_detail">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tableinfo">
            	<tbody>
                    <tr bgcolor="#f0f0f0" class="f-black-12-b">
                        <td height="40" width="70">
                            外部订单号
                        </td>
						<td width="30" >
                            通知标识
                        </td>
                        <td width="40">
                            内部交易号
                        </td>
                        <td width="80">
                            主题
                        </td>
                        <td width="40">
                            金额
                        </td>
                        <td width="40">
                        	交易状态
                        </td>
                    </tr>
					<% @alipay_logs.each do |alipaylog| %>
				 	<tr>
					    <td height="30"><%= link_to alipaylog.out_trade_no, alipaylog, :class => 'f-red-12' %></td>
					    <td><%= alipaylog.notify_type %></td>
						<td><%= alipaylog.trade_no %></td>
						<td><%= alipaylog.subject %></td>
						<td><%= format "%.2f", alipaylog.total_fee %></td>
						<td><%= alipaylog.trade_status %></td>
				  	</tr>
					<% end %>
                </tbody>
			</table>
		</div>
		<div class="clearit"></div>
		<div class="list_num_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
			    <td align="right">
				</td>
			    <td align="right" width="600">
					<%= paginate @alipay_logs %>
				</td>
			  </tr>
			</table>
		</div>
	</div>
</div>
<div class="clearit"></div>


