<div class="center" style="margin-top:10px;">

</div>

<%= render 'layouts/cleardotline' %>

<div class="center" style="text-align:center; line-height:125%;">
    <%= render 'layouts/terms' %> 
</div>

<div class="center">
    <div class="cent_2">
      <%= render 'layouts/bottom' %>
    </div>
    <div class="bottom_link">
      <%= render 'layouts/bottomlinks' %>
    </div>
    
    <%= render 'layouts/cleardotline' %>
              
    <div class="bottom_center">
        <img src="/images/bottom_01.jpg" width="200" height="66">
        <img src="/images/dot.gif" width="20" height="1">
        <img src="/images/bottom_02.jpg" width="200" height="68">
        <img src="/images/dot.gif" width="20" height="1">
        <img src="/images/bottom_03.jpg" width="200" height="66">
    </div>
    
    <br />
    <br />
    <div class="bottom_center" style="text-align:center">
        <a href="" target="_blank">
        	<img src="/images/091231a.jpg" border="0">
        </a> 　
        <a href="" target="_blank">
          <img src="/images/091231b.jpg" border="0">
        </a> 　　
        <a href="" target="_blank">
          <img src="/images/091231c.jpg" border="0">
        </a>
    </div>
    <%= render 'layouts/cleardotline' %>
    <div class="bottom_center">
        2011 12度红酒网 All Rights Reserved © 沪ICP备0123456789号
    </div>
    
</div>
