<title>12度红酒网</title>
<%= stylesheet_link_tag :all %>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="红酒,葡萄酒,进口红酒,进口葡萄酒,法国红酒,红葡萄酒,干红葡萄酒">
<meta name="description" content="12度红酒网">
<%= javascript_include_tag "jquery-1.4.4.min.js" %>
<%= javascript_include_tag "jquery.cookie.js" %>
<%= javascript_include_tag 'rails' %>
<%= csrf_meta_tag %>
