<ul>
    <li>
        <a herf="#" onmouseover="showDivList('Subto1')" onmouseout="hideDivList('Subto1')" class="snf0">推荐产品<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto1" onmouseover="showDivList('Subto1')" onmouseout="hideDivList('Subto1')">
            <div class="Subtobox">
                <div class="r1">
                    <a href="#" class="snf2">推荐产品<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
				<% values = ProductAttributeValue.where(:short => :type) %>
				<% values.each do |value|%>
                <div class="r2">
                    <a href="<%= search_path_init value.id, 7 %>" class="snf1"><img src="/images/ico7.gif" align="absmiddle"><%= value.value %></a>
                </div>
				<% end %>
            </div>
        </div>
    </li>
    <li>
        <a onmouseover="showDivList('Subto2')" onmouseout="hideDivList('Subto2')" class="snf0">礼酒专区<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto2" onmouseover="showDivList('Subto2')" onmouseout="hideDivList('Subto2')">
            <div class="Subtobox">
                <div class="r1 snf2">
                    <a href="" class="snf2">礼酒专区<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
				<% values = ProductAttributeValue.where(:short => :price) %>
				<% values.each do |value|%>
                <div class="r2">
                    <a href="<%= search_path_init value.id, 8 %>" class="snf1"><img src="/images/ico7.gif" align="absmiddle"><%= value.value %></a>
                </div>
				<% end %>
            </div>
        </div>
    </li>
    <li>
        <a onmouseover="showDivList('Subto3')" onmouseout="hideDivList('Subto3')" class="snf0">不同产区<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto3" onmouseover="showDivList('Subto3')" onmouseout="hideDivList('Subto3')">
            <div class="Subtobox">
                <div class="r1 snf2">
                    <a href="" class="snf2">不同产区<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
				<% values = ProductAttributeValue.where(:short => :country) %>
				<% values.each do |value|%>
                <div class="r2">
                    <a href="<%= search_path_init value.id, 5 %>" class="snf1"><img src="/images/ico7.gif" align="absmiddle"><%= value.value %></a>
                </div>
				<% end %>
            </div>
        </div>
    </li>
    <li>
        <a onmouseover="showDivList('Subto4')" onmouseout="hideDivList('Subto4')" class="snf0">场合选酒<img src="/images/ico4.gif" border="0" align="absmiddle"></a>
        <div id="Subto4" onmouseover="showDivList('Subto4')" onmouseout="hideDivList('Subto4')">
            <div class="Subtobox">
                <div class="r1 snf2">
                    <a href="" class="snf2">场合选酒<img src="/images/ico5.gif" align="absmiddle"></a>
                </div>
				<% values = ProductAttributeValue.where(:short => :use_for) %>
				<% values.each do |value|%>
                <div class="r2">
                    <a href="<%= search_path_init value.id, 9 %>" class="snf1"><img src="/images/ico7.gif" align="absmiddle"><%= value.value %></a>
                </div>
				<% end %>
            </div>
        </div>
    </li>
    <li style="width:100px;">
        <a class="snf0" href="#">葡萄酒知识</a>
    </li>

</ul>
