<div id="menu">
  <ul>
		<li class="index"><a href="/"><img src="<%= menu_is_highlight('home') ? '/images/home-on.png' : '/images/home-off.png' %>" alt="首页" title="首页" /></a></li>
		<li class="index"><a href="<%= init_search_path %>"><img src="<%= menu_is_highlight('wine') ? '/images/wine-on.png' : '/images/wine-off.png' %>" alt="葡萄酒" title="葡萄酒" /></a></li>
		<li class="index"><a href="/exchanges/new"><img src="<%= menu_is_highlight('book') ? '/images/book-on.png' : '/images/book-off.png' %>" alt="我有提货券，我要预约送货。" title="我有提货券，我要预约送货。" /></a></li>
	</ul>
</div>
<div id="search">
  <input type="text" id="keywordTop" onkeydown="javascript:if(event.keyCode == 13){window.location.href = '<%= init_search_path %>' + $('#keywordTop').val();}"  value="<%= params[:keywords] %>" />
	<a href="#" onclick="javascript:window.location.href = '<%= init_search_path %>' + $('#keywordTop').val(); return false;">
	  <img src="/images/btn_search.gif" width="67" height="30" alt="搜索" />
	</a>
</div>