<div id="menu">
  <ul>
		<li class="index"><a href="/"><img src="/images/home-on.gif" alt="首页" /></a></li>
		<li class="index"><a href="<%= search_path_by_short_value 'type', '白葡萄酒' %>"><img src="/images/white-off.gif" alt="白葡萄酒" /></a></li>
		<li class="index"><a href="<%= search_path_by_short_value 'type', '红葡萄酒' %>"><img src="/images/red-off.gif" alt="红葡萄酒" /></a></li>
		<li class="index"><a href="/promotion"><img src="/images/promo-off.gif" alt="促销专区" /></a></li>
	</ul>
</div>
<div id="search">
  <input type="text" id="keywordTop" onkeydown="javascript:if(event.keyCode == 13){window.location.href = '<%= init_search_path %>' + $('#keywordTop').val();}"  value="<%= params[:keywords] %>" />
	<a href="javascript:window.location.href = '<%= init_search_path %>' + $('#keywordTop').val();">
	  <img src="/images/btn_search.gif" width="67" height="30" alt="限时抢购" />
	</a>
</div>
