<div id="menu">
  <ul>
		<li class="index"><a href="/"><img src="/images/home-on.gif" alt="首页" title="首页" /></a></li>
		<li class="index"><a href="<%= search_path_by_short_value 'type', '白葡萄酒' %>"><img src="/images/white-off.gif" alt="白葡萄酒" title="白葡萄酒" /></a></li>
		<li class="index"><a href="<%= search_path_by_short_value 'type', '红葡萄酒' %>"><img src="/images/red-off.gif" alt="红葡萄酒" title="红葡萄酒" /></a></li>
		<li class="index"><a href="/promotions/open_110708"><img src="/images/110708_nav-off.gif" alt="开业限时优惠" title="开业限时优惠" /></a></li>
		<li class="index"><a href="/promotions/midautumn_110728"><img src="/images/110728_nav-off.gif" alt="香港月饼专送" title="香港月饼专送" /></a></li>
	</ul>
</div>
<div id="search">
  <input type="text" id="keywordTop" onkeydown="javascript:if(event.keyCode == 13){window.location.href = '<%= init_search_path %>' + $('#keywordTop').val();}"  value="<%= params[:keywords] %>" />
	<a href="#" onclick="javascript:window.location.href = '<%= init_search_path %>' + $('#keywordTop').val(); return false;">
	  <img src="/images/btn_search.gif" width="67" height="30" alt="搜索" />
	</a>
</div>
