<div class="searchbox">
    <input type="text" id="keywordTop" value="<%= params[:keywords] %>" class="tsi" />
    <a href="javascript:window.location.href = '<%= search_path_without_keywords %>' + $('#keywordTop').val();">
      <img src="/images/searchmenu.gif" align="absmiddle" border="0" />
    </a>
</div>
<div class="hotbox">
  <a class="snf1" href="<%= search_path_without_keywords %>波尔多">波尔多</a>
  <a class="snf1" href="<%= search_path_without_keywords %>智利">智利</a>
  <a class="snf1" href="<%= search_path_without_keywords %>赤霞朱">赤霞珠</a>
  <a class="snf1" href="<%= search_path_without_keywords %>设拉子">设拉子</a>
  <a class="snf1" href="<%= search_path_without_keywords %>翠岭">翠岭</a>
  <a class="snf1" href="<%= search_path_without_keywords %>木桐">木桐</a>
  <a class="snf1" href="<%= search_path_without_keywords %>圣泉">圣泉</a>
</div>