<% if user_signed_in? %>
  您好，<%= current_user.display_name %>
<% end %>
欢迎光临12度红酒网。
<% if user_signed_in? %>
	<%= link_to "注销", destroy_user_session_path, :class => "snf3" %>
<% else %>
	<%= link_to "注册", new_user_registration_path, :class => "snf3" %>
  <span class="snf8">|</span>
  <%= link_to "登陆", new_user_session_path, :class => "snf3" %>
<% end %>
<span class="snf8">|</span>
<!--
<img src="/images/ico1.gif" align="absmiddle"><a href="/" class="snf1" target="_blank">在线客服</a>	
<span class="snf8">|</span> 
-->
<img src="/images/ico2.gif" align="absmiddle">
<%= link_to ("我的账户", edit_user_registration_path, :class => "snf1") %>
<span class="snf8">|</span>

<img src="/images/ico3.gif" align="absbottom">
<a href="/cart/show" class="snf1">购物车内有&nbsp;<span id="goodsNum" class="nf0">0</span>&nbsp;件商品</a>
