<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>12度红酒网</title>
  	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "jquery-1.4.4.min.js" %>
	<%= javascript_include_tag 'rails' %>
  	<%= csrf_meta_tag %>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<div id="user_nav">    
	  <%= render "layouts/user_nav" %>
	</div>
	<div id="cart"><%= link_to "购物车", :action=>'show', :controller=>'cart' %></div>
	<div id="search">
		<% form_tag ({:action=>'search',:controller=>'store'}, :method=>:get) do -%>
			<input type="text" name="key" />
			<input type="submit" value="搜索">
		<% end -%>
	</div>
<%= yield %>

</body>
</html>
