<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <%= render 'layouts/head' %>
</head>

<body>
	<div id="top">
    <%= render 'layouts/top' %>
	</div>

  <div class="menu">
    <%= render 'layouts/menu' %>
  </div>
		
	<div class="topsearch">
    <%= render 'layouts/topsearch' %>
  </div>

  <script type="text/javascript">
    function showDivList(divname){
        document.getElementById(divname).style.display = 'block';
    }
    
    function hideDivList(divname){
        document.getElementById(divname).style.display = 'none';
    }
  </script>

  <div class="center" style="margin-top:5px;">
    <%= render 'layouts/banner' %>

    <%= yield %>
  </div>
    
  <%= render 'layouts/footer' %>

</body>
</html>
