<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>12度红酒网</title>
        <link rel="stylesheet" type="text/css" href="/css/home.css" />
        <link rel="stylesheet" type="text/css" href="/css/floatdiv.css" />
        <script language="text/javascript">
            function btnWineClick(subMenuID, subButtonID){
            
                if (document.getElementById(subMenuID).style.display != "none") {
                    document.getElementById(subMenuID).style.display = "none";
                    document.getElementById(subButtonID).src = "/images/jiahao.gif";
                    return;
                }
                if (document.getElementById(subMenuID).style.display == "none") {
                    document.getElementById(subMenuID).style.display = "block";
                    document.getElementById(subButtonID).src = "/images/jianhao.gif";
                    return;
                }
            }
        </script>
    </head>
    <body>
        <div class="wrap">
<!--#header-->
          <div id="header">
            <%= render :partial => "layouts/header" %>
          </div>
<!--#nav--> 
     		  <div id="nav">
            <%= render :partial => "layouts/nav" %>
          </div>
				  <%= yield %>
<!--#footer-->
				  <div id="footer">
<!-- footer start -->
            <%= render :partial => "layouts/footerlinks" %>
<!--copyright start-->
            <%= render :partial => "layouts/footercopyright" %>
<!--copyright end-->
<!-- footer end -->
				  </div>
			  </div>
      
    </body>
</html>
