<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<%= auto_discovery_link_tag(:atom, "/feeds.atom") %>
		<%= auto_discovery_link_tag(:rss, "/feeds.rss") %>
        <%= csrf_meta_tag %>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		    <meta name="keywords" content="12度,葡萄酒,红酒,干红,进口葡萄酒,干白" />
		    <meta name="description" content="十二度葡萄酒,我们身边的葡萄酒." />        
        <%= stylesheet_link_tag "/css/home", "/css/floatdiv", "/css/alert", :cache => "12doo" %>
        <%= javascript_include_tag :defaults, "rails.validations",  :cache => "12doo" %>
<script type="text/javascript" src="/javascripts/jquery-impromptu.3.1.min.js"></script>
        <title>
			    <% if @title %>
			    <%= @title %> -	
			    <% end %>
			    12度红酒网
		    </title>
        <script language="text/javascript">
            function btnWineClick(subMenuID, subButtonID){
            
                if (document.getElementById(subMenuID).style.display != "none") {
                    document.getElementById(subMenuID).style.display = "none";
                    document.getElementById(subButtonID).src = "/images/jiahao.gif";
                    return;
                }
                if (document.getElementById(subMenuID).style.display == "none") {
                    document.getElementById(subMenuID).style.display = "block";
                    document.getElementById(subButtonID).src = "/images/jianhao.gif";
                    return;
                }
            }
        </script>
    </head>
    <body>
      	<div class="wrap">
<!--#header-->
          	<div id="header">
            	<%= render :partial => "layouts/header" %>
          	</div>
<!--#nav--> 
     		<div id="nav">
            	<%= render :partial => "layouts/nav" %>
          	</div>
				  <%= yield %>
<!--#footer-->
			<div id="footer">
            	<%= render :partial => "layouts/footer" %>
			</div>
<!--#links-->
			<div id="links">
	            <%= render :partial => "layouts/links" %>
			</div>
		</div>
    </body>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9177633-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
