<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>V3</title>
  	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "jquery-1.4.1.min.js" %>
	<%= javascript_include_tag 'rails' %>
  	<%= csrf_meta_tag %>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<div id="user_nav">    
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?    
	    <%= link_to "Sign out", destroy_user_session_path %>    
	  <% else %>    
	    <%= link_to "Sign up", new_user_registration_path %> or    
	    <%= link_to "Sign in", new_user_session_path %>    
	  <% end %>    
	</div>
	<div id="cart"><%= link_to "cart", :action=>'show', :controller=>'cart' %></div>
	<div id="search">
		<% form_tag ({:action=>'search',:controller=>'store'}, :method=>:get) do -%>
			<input type="text" name="key" />
			<input type="submit" value="search">
		<% end -%>
	</div>
<%= yield %>

</body>
</html>
